<!-- Виджет поля с фотографиями -->

<div class="js-photos-widget-template row hidden">
  <div class="col-xs-4">
    <button type="button" class="btn btn-primary">Добавить</button>
  </div>
</div>
<div class="js-photos-widget-item-template col-xs-4 hidden">
  <a href="" data-lightbox="" class="thumbnail">
    <img src="">
  </a>
  <span class="fa fa-trash-o remove-photo-btn" title="Удалить"></span>
</div>
<div class="photo-camera-popup">
  <div class="container">
    <div class="fake-camera">
      <p class="fake-camera__note">Кликните на картинке для имитации фотографироания</p>
    </div>
    <button class="btn btn-default">Отмена</button>
  </div>
</div>

<script type="text/javascript">
  $(function(){

    var lastId = 0;
    function getId() { return lastId++; }

    var templates = {
      widget: $('.js-photos-widget-template'),
      photoItem: $('.js-photos-widget-item-template')
    }
    function getTemplate(name) {
      return templates[name].clone().removeClass('hidden');
    }

    $camera = $('.photo-camera-popup');
    $cameraShoot = $camera.find('.fake-camera');
    $camera.find('.btn-default').click(function(){
      $camera.hide();
    });

    $('[data-photos-widget]').each(function(){
      var $widget = $(this);
      var id = "photos-widget-" + getId();
      var photos = $widget.data('photos-widget').split(',');
      var $wrap = getTemplate('widget').appendTo($widget);

      $wrap.find('.btn-primary').click(showCamera);

      $wrap.on('click', '.fa-trash-o', remove);

      function add(url) {
        getTemplate('photoItem')
          .find('a').attr({href: url, 'data-lightbox': id}).end()
          .find('img').attr({src: url}).end()
          .prependTo($wrap);
        $widget.data('count', $widget.data('count') + 1);
        $widget.trigger('change', $widget.data('count'));
      }

      function showCamera() {
        var url = photos[Math.floor(Math.random() * photos.length)];
        $camera
          .find('.fake-camera')
            .css({'background-image': 'url(' + url + ')'})
            .off('click').on('click', function(){
              $camera.hide();
              add(url);
            })
          .end()
          .show();
      }

      function remove() {
        $(this).parent().remove();
        $widget.data('count', $widget.data('count') - 1);
        $widget.trigger('change', $widget.data('count'));
      }

      var initialCount = $widget.data('count');
      for (var i = 0; i < initialCount; i++) {
        add(photos[Math.floor(Math.random() * photos.length)]);
      }

    });

  });

</script>
