<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header--group %>

<div class="container">

  <% include includes/client-ui/parcel/group-bottom %>

</div>

<% include includes/layout/outro %>
