<ul class="list-group">
	<li class="list-group-item">
		<a class="soc_net" href="<?php echo $current_url?>?login=Vkontakte"> Вконтакте </a>
	</li>
	<li class="list-group-item">
		<a class="soc_net" href="<?php echo $current_url?>?login=Odnoklassniki"> Одноклассники </a>
	</li>
	<li class="list-group-item">
		<a class="soc_net" href="<?php echo $current_url?>?login=Yandex"> Яндекс </a>
	</li>
	<li class="list-group-item">
		<a class="soc_net" href="<?php echo $current_url?>?login=Mailru"> Мой мир/Mail.ru </a>
	</li>
	<li class="list-group-item">
		<a class="soc_net" href="<?php echo $current_url?>?login=Facebook"> Facebook </a>
	</li>
	<li class="list-group-item">
		<a class="soc_net" href="<?php echo $current_url?>?login=Google"> Google/GMail </a>
	</li>
</ul>