<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%= (function(){
        try {
          return TITLE + (function(){
            try {return ' / ' + TITLE2} catch(e) {return ''}
          }()) + ' / '
        } catch(e) {return ''}}()) %>Pochta.fi
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../vendor/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="../vendor/jquery/dist/jquery.min.js"></script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- Lightbox 2 -->
    <link href="../vendor/lightbox/css/lightbox.css" rel="stylesheet" />
    <script src="../vendor/lightbox/js/lightbox.js"></script>


    <!-- Select 2 -->
    <link rel="stylesheet" href="../vendor/select2/select2.css">
    <link rel="stylesheet" href="../vendor/select2/select2-bootstrap.css">
    <script src="../vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
      $(function() {
        function toItem(term) { return {id: term, text: term} }
        $('input.js-select2').each(function(){
          $(this).select2({
            minimumInputLength: 1,
            data: $(this).data('options').split(',').map(toItem),
            createSearchChoice: toItem
          });
        });
        $('select.js-select2').each(function(){
          $(this).select2({minimumInputLength: 1});
        });
      });
    </script>


    <!-- Uploadcare widget -->
    <script>
      UPLOADCARE_PUBLIC_KEY = "demopublickey";
      UPLOADCARE_LOCALE = 'ru';
    </script>
    <script src="https://ucarecdn.com/widget/1.4.0/uploadcare/uploadcare-1.4.0.min.js" charset="utf-8"></script>


    <!-- Font awesome -->
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/custom.css">


    <!-- Custom JS -->
    <script type="text/javascript">
      $(function() {

        // "Toggle all" checkboxes
        $('[data-toggle-all]').change(function(){
          var newState = $(this).prop('checked');
          $(  $(this).data('toggle-all')  ).each(function(){
            if ($(this).prop('checked') !== newState) {
              $(this).prop('checked', newState).change();
            }
          });
        });

        // Initialise bootstrap popovers
        $('[data-toggle=popover]').popover();

        // Table rows as links
        $(document).on('click', '[data-tr-link]', function() {
          location.href = $(this).data('tr-link');
        });

      });
    </script>




    <!-- Prototype specific stuff (not for production) -->
    <link rel="stylesheet" href="../stylesheets/prototype.css">



  </head>
  <body>
