<!-- Окно доверенности -->
<!-- PPF = proxy person form -->
<!-- %TODO AJAX -->
<div class="modal fade js-ppf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-top-header" data-dismiss="modal">
        <div class="container">
            <div class="modal-top-header-logo">
                <img src="<?php echo $this->getSkinUrl('images/illustrations/logo.svg') ?>"/>
            </div>
            <p class="modal-top-header-slogan">
                <?php echo $this->__('Ваше почтовое отделение<br/>в Финляндии') ?>
            </p>
            <button type="button" class="modal-top-header-close">&times;</button>
        </div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">

            <ul style="display:none" class="js-ppf__item-template">
                <li class="js-ppf__item">
                    <span class="ppf__menu__controls">
                        <button type="button" class="ppf__menu__controls__edit js-ppf__item__edit"></button>
                        <button type="button" class="ppf__menu__controls__remove js-ppf__item__remove"></button>
                    </span>
                    <span class="ppf__menu__name js-ppf__item__name"></span>
                </li>
            </ul>

            <div class="ppf">
                <div class="ppf__bottom">
                    <h3
                        class="js-ppf__form-title"
                        data-on-edit="<?php echo $this->__('Редактирование доверенности') ?>"
                        data-on-new="<?php echo $this->__('Новая доверенность') ?>">
                    </h3>

                    <input type="hidden" class="text-input js-ppf__personid-field js-fix-ph" />
                    <div class="ppf__field ppf__field--name">
                        <input type="text" maxlength="100" placeholder="<?php echo $this->__('Имя, фамилия') ?>" class="text-input js-ppf__name-field js-fix-ph" />
                        <p class="ppf__field__help"><?php echo $this->__('Латиницей, как в заграничном паспорте') ?></p>
                    </div>
                    <div class="ppf__field ppf__field--passport">
                        <input type="text" maxlength="12" placeholder="<?php echo $this->__('Номер заграничного паспорта') ?>" class="text-input js-ppf__passport-field js-fix-ph" />
                    </div>
                    <div class="ppf__save">
                        <button onclick="return saveAttorney();" type="button" class="btn btn-block btn-orange js-ppf__save"><?php echo $this->__('Сохранить') ?></button>
                    </div>
                </div>
                <div class="ppf__top js-ppf__menu-wrap">
                    <h3><?php echo $this->__('Выписанные доверенности') ?></h3>
                    <ul
                        class="ppf__menu js-ppf__menu"
                        data-remove-confirm="<?php echo $this->__('Вы уверены что хотите удалить эту доверенность?') ?>" >
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    function saveAttorney() {

        var form_data = 'parcelId=' + $('.js-ppf__personid-field').val() + '&name=' + $('.js-ppf__name-field').val() + '&passport=' + $('.js-ppf__passport-field').val();
        var powers = $('.js-ppf__item__name').map(function() { return $(this).text().trim(); }).get();
        form_data += '&powers=' + powers.join();

        $.ajax({
            url: '/pochta/ajax/saveAttorney',
            data: form_data,
            type: 'post',
            success: function (data) {
//                alert('sucsess');
            }
        });

        return false;
    }

    function saveAttorneyParcel(parcel_id) {

        var form_data = 'parcelId=' + parcel_id;

        $.ajax({
            url: '/pochta/ajax/saveAttorneyParcel',
            data: form_data,
            type: 'post',
            success: function (data) {
//                alert('sucsess');
            }
        });

        return true;
    }
</script>