<!-- Подарок -->

<div class="parcel-info js-parcel-info" data-parcel-id="5">
    <script type="text/javascript">
        PARCEL_INFO = window.PARCEL_INFO || {};

        // Этот JSON формируется на сервере
        PARCEL_INFO["5"] = { // здесь id из data-parcel-id
            proxyPersons: [
//                {name: 'Эрна Кугаппи', passport: '021234567'}
            ]
        }
    </script>

    <div class="container">
        <h4>Подарок от Pochta.fi</h4>

        <div class="row">
            <div class="col-3">
                <span class="parcel-info__label"><?php echo $this->__('Откуда') ?></span>
                <span class="parcel-info__value">pochta.fi</span>
            </div>
            <div class="col-2">
                <span class="parcel-info__label"><?php echo $this->__('Пункт выдачи') ?></span>
                <span class="parcel-info__value">любой</span>
            </div>
            <div class="col-2">
                <span class="parcel-info__label"><?php echo $this->__('Доверенность') ?></span>
<!--
                <div
                    class="parcel-info__value js-parcel-info__proxy"
                    data-on-empty="<?php echo $this->__('Заберу сам') ?>"
                    ></div>
-->
            </div>
            <div class="col-2">
                <span class="parcel-info__label"><span class="icon icon-ok"></span></span>
          <span class="parcel-info__value">
            <?php echo $this->__('Наш подарок ждет вас на пункте выдачи!') ?>
          </span>
            </div>
        </div>
<!--
        <div class="row">
            <div class="col-3">
                <a href="#TODO"
                   class="btn btn-block btn-link"><span><?php echo $this->__('Подробнее о посылке') ?></span></a>
            </div>
            <div class="col-2">
                <a href="#TODO"
                   class="btn btn-block btn-link"><span><?php echo $this->__('Изменить пункт выдачи') ?></span></a>
            </div>
            <div class="col-2">
                <button
                    type="button"
                    class="btn btn-block btn-link js-parcel-info__set-proxy"
                    >
                                <span
                                    class="js-parcel-info__set-proxy__text"
                                    data-on-empty="<?php echo $this->__('Оформить доверенность') ?>"
                                    data-on-full="<?php echo $this->__('Переоформить доверенность') ?>"
                                    ></span>
                </button>
            </div>
            <div class="col-2">
            </div>
        </div>
-->
    </div>
</div>
