<?php
/** @var $this Mage_Customer_Block_Account_Dashboard */

$customer = $this->getCustomer();
//$customer->load();
?>

<div class="parcels-list__in-wrap">

    <?php foreach ($pochtaHelper->getParcelCollection($filters, $customer->getId()) as $parcel): ?>
        <?php $alreadyProcessed[] = $parcel->getId(); ?>
        <div class="parcel-info js-parcel-info" data-parcel-id="<?php echo $parcel->getId(); ?>">
            <script type="text/javascript">
                PARCEL_INFO = window.PARCEL_INFO || {};

                // Этот JSON формируется на сервере
                PARCEL_INFO["<?php echo $parcel->getId(); ?>"] = { // здесь id из data-parcel-id
                    proxyPersons: [
                        <?php
                         if ($parcel->getAttorneyFullName() != '')
                         {
                            $names = explode(',', $parcel->getAttorneyFullName());
                            $docs = explode(',', $parcel->getAttorneyDocNumber());

                            for ($ii = 0; $ii < count($names); $ii++) {
                                if (trim($names[$ii]) != '') {
                                    echo '{ name: "' . trim($names[$ii]) . '", passport: "' . trim($docs[$ii]) . '" },';
                                }
                            }
                         }
                        ?>
                    ]
                }
            </script>

            <div class="container">
                <h4><?php echo $parcel->getName(); ?></h4>

                <div class="row">
                    <div class="col-3">
                        <span class="parcel-info__label"><?php echo $this->__('Откуда') ?></span>
                        <span class="parcel-info__value"><?php echo $parcel->getConsignorName(); ?></span>
                    </div>
                    <div class="col-2">
                        <span class="parcel-info__label"><?php echo $this->__('Пункт выдачи') ?></span>
                        <?php
                        if ($parcel->getBoxStore() == Mage::registry('box_store_imatra') || $parcel->getBoxStore() == Mage::registry('box_store_lappeenranta')) {
                            $place = Mage::getResourceSingleton('catalog/product')->getAttribute('box_store')->getSource()->getOptionText($parcel->getBoxStore());
                        } else {
                            $place = Mage::getResourceSingleton('customer/customer')->getAttribute('default_place')->getSource()->getOptionText($customer->getDefaultPlace());
                        }
                        ?>
                        <span class="parcel-info__value"><?php echo $this->__($place); ?></span>
                    </div>
                    <div class="col-2">
                        <span class="parcel-info__label"><?php echo $this->__('Доверенность') ?></span>
                        <div class="parcel-info__value js-parcel-info__proxy" data-on-empty="<?php echo $this->__('Заберу сам') ?>"></div>
                    </div>
                    <div class="col-2">
                        <?php require $bottom1; ?>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $parcel->getId()) ?>" class="btn btn-block btn-link"><span><?php echo $this->__('Подробнее о посылке') ?></span></a>
                    </div>
                    <div class="col-2">
<!--                                <a href="#TODO" class="btn btn-block btn-link"><span><?php echo $this->__('Изменить пункт выдачи') ?></span></a> -->
                    </div>
                    <div class="col-2">
                        <button onclick="return saveAttorneyParcel(<?php echo $parcel->getId() ?>);" type="button" class="btn btn-block btn-link js-parcel-info__set-proxy">
                            <span class="js-parcel-info__set-proxy__text"
                                  data-on-empty="<?php echo $this->__('Оформить доверенность') ?>"
                                  data-on-full="<?php echo $this->__('Переоформить доверенность') ?>">
                            </span>
                        </button>
                    </div>
                    <div class="col-2">
                        <?php require $bottom2; ?>
                    </div>
                </div>
            </div>
        </div>
    <?php endforeach; ?>

</div>
