<div class="parcels-list parcels-list--picked-up js-parcels-wathc-scroll">

    <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
        <div class="parcels-list__head">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <h2><?php echo $this->__('Посылки, которые вы уже забрали') ?></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<?php
    /** @var $this Mage_Customer_Block_Account_Dashboard */

    $customer = $this->getCustomer();
    //$customer->load();

    $bottom1 = "taken-bottom1.phtml";
    $bottom2 = "taken-bottom2.phtml";
?>

    <div class="parcels-list__in-wrap">
<?php if (false) : ?>
        <div class="js-expandable parcels-list__expandable">
<?php endif; ?>
            <?php $itemsCount = 0; ?>
            <?php foreach ($pochtaHelper->getParcelCollection($filters, $customer->getId()) as $parcel): ?>
                <?php $alreadyProcessed[] = $parcel->getId(); ?>

                <?php if (false && $itemsCount == 1): ?>
                <div class="js-expandable__hidden parcels-list__expandable__hidden">
                <?php endif; ?>

                <div class="parcel-info js-parcel-info" data-parcel-id="<?php echo $parcel->getId(); ?>">
                    <script type="text/javascript">
                        PARCEL_INFO = window.PARCEL_INFO || {};

                        // Этот JSON формируется на сервере
                        PARCEL_INFO["<?php echo $parcel->getId(); ?>"] = { // здесь id из data-parcel-id
                            proxyPersons: [
                                <?php
                                 if ($parcel->getAttorneyFullName() != '')
                                 {
                                    $names = explode(',', $parcel->getAttorneyFullName());
                                    $docs = explode(',', $parcel->getAttorneyDocNumber());

                                    for ($ii = 0; $ii < count($names); $ii++) {
                                        if (trim($names[$ii]) != '') {
                                            echo '{ name: "' . trim($names[$ii]) . '", passport: "' . trim($docs[$ii]) . '" },';
                                        }
                                    }
                                 }
                                ?>
                            ]
                        }
                    </script>

                    <?php
                    /** @var $lastMovement Mage_Catalog_Model_Product */
                    $lastMovement = $parcel->getCrossSellProductCollection()->setOrder('carrier_date_out', 'asc')->getLastItem();  // TODO:
                    $lastMovement->load($lastMovement->getId());
                    ?>

                    <div class="container">
                        <h4><?php echo $parcel->getName(); ?></h4>

                        <div class="row">
                            <div class="col-3">
                                <span class="parcel-info__label"><?php echo $this->__('Выдана') ?></span>
                                <span class="parcel-info__value"><?php echo date('Y-m-d', strtotime($lastMovement->getMvtSrcActualDate())) ?></span>
                            </div>
                            <div class="col-2">
                                <span class="parcel-info__label"><?php echo $this->__('Пункт выдачи') ?></span>
                                <span class="parcel-info__value"><?php echo $lastMovement->getMvtSrcWhs() ?></span>
                            </div>
                            <div class="col-2">
                                <span class="parcel-info__label"><?php echo $this->__('Доверенность') ?></span>
                                <div class="parcel-info__value js-parcel-info__proxy" data-on-empty="<?php echo $this->__('Забрал сам') ?>"></div>
                            </div>
                            <div class="col-2">
                                <?php require $bottom1; ?>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $parcel->getId()) ?>" class="btn btn-block btn-link"><span><?php echo $this->__('Подробнее о посылке') ?></span></a>
                            </div>
                            <div class="col-2">
<!--                                <a href="#TODO" class="btn btn-block btn-link"><span><?php echo $this->__('Изменить пункт выдачи') ?></span></a> -->
                            </div>
                            <div class="col-2">
<!--
                                <button onclick="return saveAttorneyParcel(<?php echo $parcel->getId() ?>);" type="button" class="btn btn-block btn-link js-parcel-info__set-proxy">
                                <span class="js-parcel-info__set-proxy__text"
                                      data-on-empty="<?php echo $this->__('Оформить доверенность') ?>"
                                      data-on-full="<?php echo $this->__('Переоформить доверенность') ?>">
                                </span>
                                </button>
-->
                            </div>
                            <div class="col-2">
                                <?php require $bottom2; ?>
                            </div>
                        </div>
                    </div>
                </div>

                <?php $itemsCount++; ?>
            <?php endforeach; ?>

            <?php if (false && $itemsCount > 1): ?>
            </div>  <!-- pair for  class="js-expandable__hidden parcels-list__expandable__hidden" -->
            <?php endif; ?>
<?php if (false) : ?>
            <div class="js-expandable__overlay parcels-list__expandable__overlay"></div>
        </div>
<?php endif; ?>
    </div>

</div>