<% include includes/layout/intro %>


<% include includes/issuance/header %>


<div class="container">

  <h1>
    3. Государственный номер транспорта<br>
    <small>Укажите государственный регистрационный номер транспортного средства на котором будет вывозится посылка</small>
  </h1>

  <br>

  <form class="form-horizontal" role="form" action="end-prepaid.html">
    <div class="form-group">
      <label for="tmp-id-1" class="col-sm-2 control-label">Номер</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="tmp-id-1"
          placeholder="c065mk 78 rus"
          onkeyup="$('#submit-1').prop('disabled', !$(this).val().length)"
        >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" disabled id="submit-1">Завершить</button>
      </div>
    </div>
  </form>



</div>



<% include includes/layout/outro %>
