<% include includes/layout/intro %>


<% include includes/issuance/header %>


<div class="container">

  <h1>
    4. Оплата<br>
    <small>Введите данные карты для оплаты пошлин и  услуг</small>
  </h1>

  <br>

  <% include includes/issuance/payment-form %>



</div>



<% include includes/layout/outro %>
