<?php

$parcelId = $this->getRequest()->getParam("parcelId");

$serviceFeeAmount = Mage::helper('pochta')->getNonRefundableAmount($parcel);
$depositFeeAmount = Mage::helper('pochta')->getRefundableAmount($parcel);
?>

<form action="/pochta/payments/payBraintree" method="POST" id="braintree-payment" class="payment-form-wrap js-payment-form">
    <div class="container">

        <h2><?php echo $this->__("Для оплаты пошлин и услуг, введите данные карты") ?></h2>

        <div class="payment-form">
            <div class="payment-form__main-wrap">
                <h3 class="payment-form__title js-payment-form__cart-type">&nbsp;</h3>

                <div class="payment-form__number">
                    <input
                        type="text"
                        class="form-control js-payment-form__number"
                        name="number"
                        id="payment-number"
                        />
                    <label for="payment-number">Номер карты</label>
                </div>
                <div class="payment-form__date">
                    <input
                        type="text"
                        class="form-control js-payment-form__month"
                        pattern="\d*"
                        novalidate
                        maxlength="2"
                        name="month"
                        id="payment-month"
                        />
                    <span class="payment-form__date__delimetr">/</span>
                    <input
                        type="text"
                        class="form-control js-payment-form__year"
                        pattern="\d*"
                        novalidate
                        maxlength="2"
                        name="year"
                        id="payment-year"
                        />
                    <label for="payment-month">Срок действия</label>
                </div>
                <div class="payment-form__ovner">
                    <input
                        type="text"
                        class="form-control"
                        name="cardholderName"
                        id="payment-name"
                        />
                    <label for="payment-name">Владелец карты (как на карте)</label>
                </div>
            </div>
            <div class="payment-form__code-wrap">
                <div class="payment-form__code">
                    <input
                        type="password"
                        class="form-control js-payment-form__code"
                        pattern="\d*"
                        novalidate
                        name="cvv"
                        id="payment-code"
                        />
                    <label for="payment-code">CVC код</label>
                </div>
            </div>
        </div>

        <input type="hidden" name="deposit_amount" value="<?php echo $deposit_amount ?>">
        <input type="hidden" name="service_amount" value="<?php echo $service_amount ?>">
        <input type="hidden" name="parcelId" value="<?php echo $parcelId ?>">

        <div class="payment-form-wrap__bottom">
            <p class="payment-form-wrap__bottom__note">
                Внесенный депозит
                <strong>€ <?php echo $deposit_amount ?></strong>
                будет возвращен на карту после прохождения вами границы
            </p>

            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-block btn-orange js-payment-form__submit">
                        Оплатить € <?php echo $deposit_amount + $service_amount ?>
                    </button>
                    <?php
                    try {
                        $rate = Mage::helper('directory')->currencyConvert(1, 'EUR', 'RUB');
                        $inRubles = ($deposit_amount + $service_amount) * $rate;
                        //$inRubles = Mage::helper('directory')->currencyConvert($deposit_amount + $service_amount, 'RUB', 'EUR');
                    }
                    catch(Exception $e) {
                        $inRubles = '(курс не доступен)';
                    }
                    ?>
                    <p class="in-local-currency">
                        <?php echo $inRubles ?> руб. по курсу ЦБ РФ
                    </p>
                </div>
                <div class="col-2">
<!--
                    <a href="#TODO" class="btn btn-block btn-black">
                        Оплачу потом
                    </a>
-->
                </div>
            </div>
        </div>
    </div>
</form>
