<div class="container">

    <br/>
    <br/>
    <h2>Всё готово для оплаты на PayPal. Нажмите кнопку, если редирект не произойдёт автоматически.</h2>
    <br/>
    <br/>

    <?php

    $customer = Mage::getSingleton('customer/session')->getCustomer();
    $parcelId = $this->getRequest()->getParam('parcelId');
    $order_id = Mage::registry('order_id');

    $parcel = Mage::getModel('catalog/product')->load($parcelId);
    $serviceFeeAmount = Mage::helper('pochta')->getNonRefundableAmount($parcel);
    $depositFeeAmount = Mage::helper('pochta')->getRefundableAmount($parcel);
    $total = $depositFeeAmount + $serviceFeeAmount;
    $amount_description = $serviceFeeAmount > 0 ? 'S' . $serviceFeeAmount : '';
    if ($depositFeeAmount > 0 && $serviceFeeAmount > 0) {
        $amount_description .= '/';
    }
    $amount_description .= $depositFeeAmount > 0 ? 'D' . $depositFeeAmount : '';

    $websiteID = Mage::app()->getWebsite()->getId();
    $storeID = Mage::app()->getStore()->getId();
    $sandbox_flag = Mage::app()->getWebsite($websiteID)->getConfig('payment/paypal_standard/sandbox_flag');
    $business_account = Mage::app()->getWebsite($websiteID)->getConfig('paypal/general/business_account');
    //$sale = Mage::app()->getWebsite($websiteID)->getConfig('payment/paypal_standard/payment_action');

    $sandbox = '';
    if ($sandbox_flag) {
        $sandbox = 'sandbox.';
    }

    $successUrl = Mage::getUrl('pochta/payments/paypalSuccessPost');
    $errorUrl = Mage::getUrl('pochta/payments/paypalErrorPost');
    ?>

    <form action="https://www.<?php echo $sandbox ?>paypal.com/cgi-bin/webscr" method="post" id="paypal_standard_checkout">

        <input type="hidden" name="custom" value="<?php echo $parcelId ?>">
        <input type="hidden" name="item_name" value="<?php echo ($this->__('Pochta.fi warehouse service for ') . $parcel->getSku() . ($amount_description ? '. ' . $amount_description : '')) ?>">

        <input type="hidden" name="cmd" value="_xclick">
        <INPUT TYPE="hidden" name="charset" value="utf-8">
        <input type="hidden" name="return" value="<?php echo $successUrl ?>">
<!--			<input type="hidden" name="notify_url" value="<?php echo $successUrl ?>"> -->
        <input type="hidden" name="cancel_return" value="<?php echo $errorUrl ?>">
        <input type="hidden" name="currency_code" value="EUR">

        <input type="hidden" name="business" value="<?php echo $business_account ?>">
        <input type="hidden" name="amount" value="<?php echo $total ?>">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="no_note" value="1">

        <input type="hidden" name="solution_type" value="sole">
        <input type="hidden" name="landing_page" value="billing">
        <input type="hidden" name="paymentaction" value="authorization">

<?php if (isset($order_id)): ?>
        <input type="hidden" name="invoice" value="<?php echo $order_id ?>">
<?php endif; ?>
        <input type="hidden" name="lc" value="<?php echo $customer->getDefaultBillingAddress()->getCountryId() ?>">
        <input type="hidden" name="rm" value="2">

        <input type="hidden" name="email" value="<?php echo $customer->getEmail() ?>">
        <input type="hidden" name="first_name" value="<?php echo $customer->getDefaultBillingAddress()->getFirstname() ?>">
        <input type="hidden" name="last_name" value="<?php echo $customer->getDefaultBillingAddress()->getLastname() ?>">
        <input type="hidden" name="country" value="<?php echo $customer->getDefaultBillingAddress()->getCountry() ?>">
        <input type="hidden" name="zip" value="<?php echo $customer->getDefaultBillingAddress()->getPostcode() ?>">
        <input type="hidden" name="city" value="<?php echo $customer->getDefaultBillingAddress()->getCity() ?>">
        <input type="hidden" name="address1" value="<?php echo $customer->getDefaultBillingAddress()->getStreet()[0] ?>">

        <div class="form-submit">
            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__('Оплатить') . ' € ' . $total ?></button>
                </div>
            </div>
        </div>

    </form>

    <script type="text/javascript">
        document.getElementById("paypal_standard_checkout").submit();
    </script>

</div>