<?php
$parcel_id = Mage::getSingleton('core/session')->getCurrentProductId();

/** @var $parcel Mage_Catalog_Model_Product */
$parcel = Mage::getModel('catalog/product');
if ($parcel_id != null) {
    $parcel->load($parcel_id);
}
?>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><?php echo $this->__("Назад") ?></a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">

  <div class="alert alert-info">
    <?php echo $this->__("Распечатайте наклейку и наклейте её на посылку. Завершите приёмку.") ?>
  </div>

    <div class="media" id="printSticker">
        <div class="pull-left">
            <div class="sticker media-object">
                <div class="sticker__header">
                    pochta.fi
                </div>
                <img class="sticker__img" src="<?php echo 'http://barcoderesourcing.com/barcode_generator/image.php?barcode=' . $parcel->getBoxShelf() . $parcel->getSku() .'&style=68&type=C128B&width=440&height=180&xres=3&font=5' ?>" />
                <span class="code__letter">&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $parcel->getSku(); ?></span>
                <div class="sticker__main clearfix">
                    <div class="sticker__main__country">
                        <?php echo $parcel->getBoxOrigin() == Mage::registry('box_origin_european') ? 'EU' : 'T'; ?>
                    </div>
                    <div class="sticker__main__code">
                        <span class="code__letter"><?php echo $parcel->getBoxShelf(); ?></span>
                        <span class="code__digits"></span>
                    </div>
                    <div class="sticker__main__name">
                        <?php
                        /** @var $customers Mage_Customer_Model_Resource_Customer_Collection */
                        $customers = Mage::getModel('customer/customer')->getCollection();
                        $customers
                            ->addAttributeToSelect('suite')
                            ->addFieldToFilter('suite', $parcel->getBoxSuiteNum());
                        $customer = $customers->getFirstItem();
                        $customer->load($customer->getId());
                        ?>
                        <span class="name__first"><?php echo $customer->getFirstname(); ?></span>
                        <br/>
                        <span class="name__second"><?php echo $customer->getLastname(); ?></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-body">
        </div>
    </div>
  <br>
  <button type="button" class="btn btn-primary" onclick="$('.js-bottom-btn').removeAttr('disabled')">
    <i class="fa fa-print"></i> <?php echo $this->__("Распечатать наклейку") ?>
  </button>



  <hr>
  <a href="<?php echo $this->getUrl("pochta/parcelreception/nextParcel") ?>" class="btn btn-primary js-bottom-btn" ><?php echo $this->__("Следующая посылка") ?></a>
  <a href="<?php echo $this->getUrl("pochta/parcelreception/endReception") ?>" class="btn btn-default js-bottom-btn" ><?php echo $this->__("Завершить приемку") ?></a>

</div>