<?php require_once __DIR__ . "/photo-widget.phtml" ?>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:history.go(-1)"><?php echo $this->__("Назад") ?></a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">

<?php
$parcel_id = Mage::getSingleton('core/session')->getCurrentProductId();

/** @var $parcel Mage_Catalog_Model_Product */
$parcel = Mage::getModel('catalog/product');
if ($parcel_id != null) {
    $parcel->load($parcel_id);
} else {
    $parcel->setBoxTrackingNum(Mage::getSingleton('core/session')->getCurrentTracking());
    $parcel->setBoxOriginalTracking(Mage::getSingleton('core/session')->getCurrentTracking());
}
?>
    <div class="alert alert-info">
        <?php echo $this->__("Убедитесь, что вся информация на фотографиях хорошо читаема.") ?><br>
        <strong><?php echo $this->__("Фотография посылки обязательна") ?></strong>
    </div>

    <div class="alert alert-info">
        <?php echo $this->__("Сверьте данные ниже с данными в сопровождающих документах. Проверьте габариты и вес посылки. Если данные, габариты или вес не совпадают введите те значения, которые вы получили после измерений. Или заполните пустые поля.") ?>
    </div>
    <br><br>

    <?php
    $isReception = true;
    require_once "parcel-editor.phtml" ?>

</div>

<script type="text/javascript">
    $('#parcel-photos').on('change', function(e, count) {
        $('#submit-btn-1').prop('disabled', count == 0);
    });
</script>