<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#parcel-1Z6R646E0319744877" role="tab" data-toggle="tab">1Z6R646E0319744877</a></li>
  <li><a href="#parcel-1Z6R646E0319744871" role="tab" data-toggle="tab">1Z6R646E0319744871</a></li>
  <li><a href="#parcel-1Z6R646E0319744872" role="tab" data-toggle="tab">1Z6R646E0319744872</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="#parcel-1Z6R646E0319744877">
    <% include not-editable-info %>
  </div>
  <div class="tab-pane" id="#parcel-1Z6R646E0319744871">
    <% include not-editable-info %>
  </div>
  <div class="tab-pane" id="#parcel-1Z6R646E0319744872">
    <% include not-editable-info %>
  </div>
</div>
