<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">
        1Z6R646E0319744877, eBay, на складе Лаппеенранта
      </span>
    </div>
  </div>
</nav>
