<br>

<div class="row">
  <div class="col-sm-9">
    <div class="form-horizontal">

      <div class="form-group">
        <label for="tmp-id-1" class="col-sm-3 control-label">Название</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="tmp-id-1" value="1Z6R646E0319744877" disabled>
          <span class="help-block">Можете переименовать для удобства отслеживания</span>
        </div>
      </div>

      <div class="form-group">
        <label for="tmp-id-2" class="col-sm-3 control-label">Доверенность</label>
        <div class="col-sm-9" id="proxy-persons-list">
          <button type="button" class="btn btn-link" disabled>Добавить</button>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-3">
    <div class="well">
      <h4>Услуги</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="disabled"><a href="javascript:void(0)" id="start-move-btn-1" disabled>Перемещение</a></li>
        <li class="disabled"><a href="javascript:void(0)" id="start-return-btn-1" disabled>Возврат в магазин</a></li>
        <li class="disabled"><a href="javascript:void(0)" id="start-issue-btn-1" disabled>Направить  жалобу</a></li>
        <li class="disabled"><a href="javascript:void(0)" id="start-extra-photos-btn-1" disabled>Запрос на дополнительные фотографии</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6 col-sm-2">
    <a href="../images/samples/u366.jpg" data-lightbox="parcel-photos" class="thumbnail">
      <img src="../images/samples/u366.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2">
    <a href="../images/samples/doc-photos/u434.jpg" data-lightbox="parcel-photos" class="thumbnail">
      <img src="../images/samples/doc-photos/u434.jpg">
    </a>
  </div>
  <div class="col-xs-6 col-sm-2">
    <a href="../images/samples/doc-photos/u448.jpg" data-lightbox="parcel-photos" class="thumbnail">
      <img src="../images/samples/doc-photos/u448.jpg">
    </a>
  </div>
</div>

<h3>Декларация</h3>
<br>


<% include ../../declaration-form--disabled %>



<br>
<div class="panel panel-default">
  <div class="panel-heading collapsed" data-toggle="collapse" data-target="#parcel-collapse-id-1">
    <h4 class="panel-title">
      Дополнительная информация о посылке
    </h4>
  </div>
  <div id="parcel-collapse-id-1" class="panel-collapse collapse">
    <% include extra-info %>
  </div>
</div>

<br>
