<div class="container">
    <br>
    <table class="table table-condensed">

        <thead>
        <tr>
            <th>
                <nobr><?php echo $this->__('Перемещение') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Получатель') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Количество посылок') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Пункт вывоза') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Дата прибытия') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Дата отправления') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Декларация') ?></nobr>
            </th>
            <th>
                <nobr><?php echo $this->__('Состояние транзита') ?></nobr>
            </th>
        </tr>
        </thead>

        <tbody>
        <?php $collection_movements = Mage::registry('issuance_list') ?>
        <?php foreach ($collection_movements as $movement): ?>

            <?php
            $documents = $movement->getRelatedProductCollection()
                ->addAttributeToSelect('*')
                ->addAttributeToFilter('attribute_set_id', Mage::registry('attr_set_id_document'));
            $declaration = $documents->getFirstItem();
            $product_links = Mage::helper('pochta')->getProductsByMovement($movement->getId());
            ?>

            <tr>
                <td>
                    <nobr>
                        <a href="<?php echo $this->getUrl('pochta/issuance/issuedView/id/' . $movement->getId()) ?>"><?php echo $movement->getId() ?></a>
                    </nobr>
                </td>
                <td>
                    <nobr><?php echo Mage::helper('pochta')->getCarrierName($movement) ?></nobr>
                </td>
                <td>
                    <nobr><?php echo count($product_links) ?></nobr>
                </td>
                <td>
                    <nobr><?php echo $movement->getMvtDstWhs() ?></nobr>
                </td>
                <td>
                    <nobr><?php echo date('d-m-Y', strtotime($movement->getMvtSrcPlannedDate())) ?></nobr>
                </td>
                <td>
                    <nobr><?php echo date('d-m-Y', strtotime($movement->getMvtDstPlannedDate())) ?></nobr>
                </td>
                <td>
                    <nobr><?php echo $declaration->getPrevDocumentTypecode() . ' ' . $declaration->getPrevDocumentId() ?></nobr>
                </td>
                <td>
                    <nobr><?php echo '' ?></nobr>
                </td>
            </tr>

        <?php endforeach ?>
        </tbody>
    </table>
</div>