<?php

$issuance = Mage::getSingleton('core/session')->getIssuance();
$declaration_id = $issuance['declarationId'];

/** @var $declaration Mage_Catalog_Model_Product */
$declaration = Mage::getModel('catalog/product');
if ($declaration_id != null) {
    $declaration->load($declaration_id);
}

?>


<div class="container">

    <form action="<?php echo $this->getUrl('pochta/issuance/showFITDECResultPost') ?>" method="post">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="cs_response_code"
                       class="col-sm-2 control-label"><?php echo $this->__("Response Code") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cs_response_code" name="cs_response_code"
                           value="<?php echo $declaration->getCsResponseCode() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="cs_response_text"
                       class="col-sm-2 control-label"><?php echo $this->__("Response Text") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cs_response_text" name="cs_response_text"
                           value="<?php echo $declaration->getCsResponseText() ?>">
                </div>
            </div>

            <div class="form-group">
                <label for="cs_control_reference_id"
                       class="col-sm-2 control-label"><?php echo $this->__("Control Reference ID") ?></label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cs_control_reference_id" name="cs_control_reference_id"
                           value="<?php echo $declaration->getCsControlReferenceId() ?>">
                </div>
            </div>

        </div>

    </form>

</div>