<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/bundle.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('vendor-packages/lightbox/js/lightbox.js') ?>"></script>

<footer>

    <div class="footer__wrap">
        <div class="header">
            <div class="container">
                <div class="header__left">
                    <a href="index.html" class="header__logo">
                        <img src="<?php echo $this->getSkinUrl('images/illustrations/logo.svg') ?>" />
                    </a>
                    <p class="header__slogan">
                        <?php echo $this->__('Ваше почтовое отделение<br/>в Финляндии') ?>
                    </p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <ul class="footer__menu">
                            <li><a href="/about"><?php echo $this->__('О нас') ?></a></li>
                            <li><a href="/faq"><?php echo $this->__('Часто задаваемые вопросы') ?></a></li>
<!--                            <li><a href="#TODO"><?php echo $this->__('Задать вопрос') ?></a></li> -->
                        </ul>
                        <ul class="footer__social">
                            <li><a href="https://vk.com/pochta_fi" target="_blank"><img src="<?php echo $this->getSkinUrl('images/icons/cir-vk.svg') ?>" /></a></li>
                            <li><a href="http://ok.ru/group/52092457123986" target="_blank"><img src="<?php echo $this->getSkinUrl('images/icons/cir-odnoklassniki.svg') ?>" /></a></li>
                            <li><a href="https://www.facebook.com/groups/430473563772761/" target="_blank"><img src="<?php echo $this->getSkinUrl('images/icons/cir-facebook.svg') ?>" /></a></li>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2 footer__contacts">
                        <h4><?php echo $this->__('Вы можете связаться<br/>с нами в любой момент') ?></h4>
                        <p class="footer__contacts__email">
                            <a href="mailto:hello@pochta.fi">hello@pochta.fi</a>
                        </p>
                        <p class="footer__contacts__phone">
                            <a href="tel:+79312673997">
                                +7 931 267 39 97
                                <small><?php echo $this->__('Россия') ?></small>
                            </a>
                        </p>
                        <p class="footer__contacts__phone">
                            <a href="tel:+358456058890">
                                +358 45 6058890
                                <small><?php echo $this->__('Finland') ?></small>
                            </a>
                        </p>
                    </div>
                    <div class="col-2 footer__storages">

                        <h4><?php echo $this->__('Адреса наших отделений<br/>в Финляндии') ?></h4>
                        <ul>
                            <li>
                                <a href="/office-nuijamaa">
                                    <?php echo $this->__('Lappeenranta') ?>
                                    <!-- <span class="footer__storages__name"><?php echo $this->__('Брусничное') ?></span> -->
                                </a>
                            </li>
                            <li>
                                <a href="/office-imatra">
                                    <?php echo $this->__('Imatra') ?>
                                    <!-- <span class="footer__storages__name"><?php echo $this->__('Светогорск') ?></span> -->
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="row footer__bottom">
                    <div class="col-7">
                        <span><?php echo $this->__('© pochta.fi — 2014') ?></span>
                    </div>
                    <div class="col-2">
                        <a href="http://whitescape.com" target="_blank"><?php echo $this->__('by Whitescape') ?></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>