<div class="form-title">
  <div class="container">
    <h1><?php echo $this->__("Выберите пункт выдачи на котором Вы сейчас находитесь.")?></h1>
  </div>
</div>

<form class="form form-large" method="post" action="<?php echo $this->getUrl('pochta/kiosk/choosePlacePost') ?>">
  <div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-4">
                <div class="storage-select-item">
                    <label>
                        <div class="radio">
                            <input type="radio" name="place" value="<?php echo Mage::registry('box_store_lappeenranta'); ?>" checked />

                            <div class="radio__ui"></div>
                        </div>
                        <div class="storage-select-item__name">
                            <?php echo $this->__('Лаппеенранта') ?>
                            <small><?php echo $this->__('Брусничное МАПП') ?></small>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col-4">
                <div class="storage-select-item">
                    <label>
                        <div class="radio">
                            <input type="radio" name="place"  value="<?php echo Mage::registry('box_store_imatra'); ?>" />
                            <div class="radio__ui"></div>
                        </div>
                        <div class="storage-select-item__name">
                            <?php echo $this->__('Иматра') ?>
                            <small><?php echo $this->__('Светогорск МАПП') ?></small>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-submit">
      <div class="row">
        <div class="col-4">
          <button type="submit" class="btn btn-block btn-blue"><?php echo $this->__("Сохранить")?></button>
        </div>
      </div>
    </div>
  </div>
</form>