.cms-no-route
  .no-route__content
    width px2em(400)
    margin px2em(130) auto px2em(150)
    h2
      margin px2em(30) 0 px2em(20)
    a
      @extend .border-link

  .wrapper .footer__wrap
    position relative
