.single-form-page
  padding px2em(80) 0 px2em(80)
  background #FFF
  h3
    setFont(30, 36, 600)
    margin-top px2em(15,30)
    margin-bottom px2em(30,30)
  &__text
    setFont(20, 24)
    margin-bottom 1em
    h3 + &
      margin-top px2em(-10,30)
    & + form
      margin-top px2em(60,30)
    a
      text-decoration underline



.succes-message
  img
    display block
    margin-bottom px2em(60)
    margin-top px2em(30)
