<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%- (function(){
        try {
          return TITLE + (function(){
            try {return ' / ' + TITLE2} catch(e) {return ''}
          }()) + ' / '
        } catch(e) {return ''}}()) %>Pochta.fi
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="<%- staticUrl('vendor/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js') %>"></script>
    <script src="<%- staticUrl('vendor/jquery/dist/jquery.min.js') %>"></script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="<%- staticUrl('vendor/bootstrap/dist/css/bootstrap.min.css') %>">
    <script src="<%- staticUrl('vendor/bootstrap/dist/js/bootstrap.min.js') %>"></script>


    <!-- Lightbox 2 -->
    <link href="<%- staticUrl('vendor/lightbox/css/lightbox.css') %>" rel="stylesheet" />
    <script src="<%- staticUrl('vendor/lightbox/js/lightbox.js') %>"></script>


    <!-- Select 2 -->
    <link rel="stylesheet" href="<%- staticUrl('vendor/select2/select2.css') %>">
    <link rel="stylesheet" href="<%- staticUrl('vendor/select2/select2-bootstrap.css') %>">
    <script src="<%- staticUrl('vendor/select2/select2.min.js') %>"></script>


    <!-- Font awesome -->
    <link rel="stylesheet" href="<%- staticUrl('vendor/font-awesome/css/font-awesome.min.css') %>">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="<%- staticUrl('stylesheets/custom.css') %>">


    <!-- Custom JS -->
    <script type="text/javascript" src="<%- staticUrl('javascript/storage.js') %>"></script>




    <!-- Prototype specific stuff (not for production) -->
    <link rel="stylesheet" href="<%- staticUrl('stylesheets/prototype.css') %>">
    <% include photos-widget %>



  </head>
  <body>
