<% include _inc/layout/intro %>

<% include _inc/headers/main %>



<div class="form-title">
  <div class="container">
    <h1><%- trans('Укажите государственный регистрационный номер транспортного средства, на котором вы будете вывозить посылку') %></h1>
  </div>
</div>

<form class="form form-large">
  <div class="container">
    <div class="form-group">
      <select name="%todo" class="form-control">
        <option selected value="%todo">Россия</option>
        <option value="%todo">Украина</option>
        <option value="%todo">Финляндия</option>
      </select>
    </div>
    <div class="form-group form-group--extra-space has-error">
      <input type="text" name="%todo" class="form-control" placeholder="с090мк78рус">
      <p class="form-error">
        <%- trans('Проверьте правильность номера или обратитесь к менеджеру') %>
      </p>
    </div>
    <div class="form-submit">
      <div class="row">
        <div class="col-4">
          <button type="submit" class="btn btn-block btn-blue"><%- trans('Перейти к оплате') %></button>
        </div>
      </div>
    </div>
  </div>
</form>



<% include _inc/layout/outro %>
