@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProLig.woff") format('woff'), url("../fonts/GothaProLig.otf") format('opentype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProLigIta.woff") format('woff'), url("../fonts/GothaProLigIta.otf") format('opentype');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProReg.woff") format('woff'), url("../fonts/GothaProReg.otf") format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProIta.woff") format('woff'), url("../fonts/GothaProIta.otf") format('opentype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMed.woff") format('woff'), url("../fonts/GothaProMed.otf") format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMedIta.woff") format('woff'), url("../fonts/GothaProMedIta.otf") format('opentype');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBol.woff") format('woff'), url("../fonts/GothaProBol.otf") format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBolIta.woff") format('woff'), url("../fonts/GothaProBolIta.otf") format('opentype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBla.woff") format('woff'), url("../fonts/GothaProBla.otf") format('opentype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBlaIta.woff") format('woff'), url("../fonts/GothaProBlaIta.otf") format('opentype');
  font-style: italic;
  font-weight: 800;
}
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: 0 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type=checkbox],
input[type=radio] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: block;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.border-link,
.footer a,
.auth-modal__alt-action a,
.auth-modal__alt-action button,
.cms-no-route .no-route__content a,
.landing-registration__terms a,
.text-page a {
  border-bottom: solid 1px;
}
.border-link:hover,
.footer a:hover,
.auth-modal__alt-action a:hover,
.auth-modal__alt-action button:hover,
.cms-no-route .no-route__content a:hover,
.landing-registration__terms a:hover,
.text-page a:hover {
  border-bottom: 0;
  margin-bottom: 1px;
}
body {
  font-family: gp, sans-serif;
  background: #f1f1ef;
  min-width: 79.25em;
  color: #464547;
}
@media screen and (max-width: 1288px) {
  body {
    font-size: 95%;
  }
}
@media screen and (max-width: 1222px) {
  body {
    font-size: 90%;
  }
}
@media screen and (max-width: 1159px) {
  body {
    font-size: 85%;
  }
}
@media screen and (max-width: 1095px) {
  body {
    font-size: 80%;
  }
}
@media screen and (max-width: 1031px) {
  body {
    font-size: 75%;
  }
}
@media screen and (max-width: 968px) {
  body {
    font-size: 70%;
  }
}
@media screen and (max-width: 906px) {
  body {
    font-size: 65%;
  }
}
@media screen and (max-width: 842px) {
  body {
    font-size: 60%;
  }
}
img {
  max-width: 100%;
}
.container {
  width: 74.25em;
  margin: 0 auto;
}
.b12-row {
  margin: 0 -3%;
}
.b12-row:after,
.b12-row:before {
  content: " ";
  display: table;
}
.b12-row:after {
  clear: both;
}
.b12-col-1,
.b12-col-2,
.b12-col-3,
.b12-col-4,
.b12-col-5,
.b12-col-6,
.b12-col-7,
.b12-col-8,
.b12-col-9,
.b12-col-10,
.b12-col-11,
.b12-col-12 {
  padding: 0 3%;
  display: block;
  float: left;
  min-height: 0.0625em;
}
.b12-col-1 {
  width: 8.3333333333333%;
}
.b12-col-2 {
  width: 16.6666666666667%;
}
.b12-col-3 {
  width: 25%;
}
.b12-col-4 {
  width: 33.3333333333333%;
}
.b12-col-5 {
  width: 41.6666666666667%;
}
.b12-col-6 {
  width: 50%;
}
.b12-col-7 {
  width: 58.3333333333333%;
}
.b12-col-8 {
  width: 66.6666666666667%;
}
.b12-col-9 {
  width: 75%;
}
.b12-col-10 {
  width: 83.3333333333333%;
}
.b12-col-11 {
  width: 91.6666666666667%;
}
.b12-col-12 {
  width: 100%;
}
.row,
.row-sub-2,
.row-sub-3,
.row-sub-4,
.row-sub-5,
.row-sub-6,
.row-sub-7,
.row-sub-8 {
  margin: 0 -0.375em;
}
.row:after,
.row-sub-2:after,
.row-sub-3:after,
.row-sub-4:after,
.row-sub-5:after,
.row-sub-6:after,
.row-sub-7:after,
.row-sub-8:after,
.row:before,
.row-sub-2:before,
.row-sub-3:before,
.row-sub-4:before,
.row-sub-5:before,
.row-sub-6:before,
.row-sub-7:before,
.row-sub-8:before {
  content: " ";
  display: table;
}
.row:after,
.row-sub-2:after,
.row-sub-3:after,
.row-sub-4:after,
.row-sub-5:after,
.row-sub-6:after,
.row-sub-7:after,
.row-sub-8:after {
  clear: both;
}
.col-1 {
  width: 11.1111111111111%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  padding: 0 0.375em;
  display: block;
  float: left;
  min-height: 1px;
}
.col-2 {
  width: 22.2222222222222%;
}
.col-3 {
  width: 33.3333333333333%;
}
.col-4 {
  width: 44.4444444444444%;
}
.col-5 {
  width: 55.5555555555556%;
}
.col-6 {
  width: 66.6666666666667%;
}
.col-7 {
  width: 77.7777777777778%;
}
.col-8 {
  width: 88.8888888888889%;
}
.col-9 {
  width: 100%;
}
.row-sub-2 .col-1 {
  width: 50%;
}
.row-sub-2 .col-2 {
  width: 100%;
}
.row-sub-3 .col-1 {
  width: 33.3333333333333%;
}
.row-sub-3 .col-2 {
  width: 66.6666666666667%;
}
.row-sub-3 .col-3 {
  width: 100%;
}
.row-sub-4 .col-1 {
  width: 25%;
}
.row-sub-4 .col-2 {
  width: 50%;
}
.row-sub-4 .col-3 {
  width: 75%;
}
.row-sub-4 .col-4 {
  width: 100%;
}
.row-sub-5 .col-1 {
  width: 20%;
}
.row-sub-5 .col-2 {
  width: 40%;
}
.row-sub-5 .col-3 {
  width: 60%;
}
.row-sub-5 .col-4 {
  width: 80%;
}
.row-sub-5 .col-5 {
  width: 100%;
}
.row-sub-6 .col-1 {
  width: 16.6666666666667%;
}
.row-sub-6 .col-2 {
  width: 33.3333333333333%;
}
.row-sub-6 .col-3 {
  width: 50%;
}
.row-sub-6 .col-4 {
  width: 66.6666666666667%;
}
.row-sub-6 .col-5 {
  width: 83.3333333333333%;
}
.row-sub-6 .col-6 {
  width: 100%;
}
.row-sub-7 .col-1 {
  width: 14.285714285714299%;
}
.row-sub-7 .col-2 {
  width: 28.571428571428598%;
}
.row-sub-7 .col-3 {
  width: 42.8571428571429%;
}
.row-sub-7 .col-4 {
  width: 57.142857142857096%;
}
.row-sub-7 .col-5 {
  width: 71.4285714285714%;
}
.row-sub-7 .col-6 {
  width: 85.7142857142857%;
}
.row-sub-7 .col-7 {
  width: 100%;
}
.row-sub-8 .col-1 {
  width: 12.5%;
}
.row-sub-8 .col-2 {
  width: 25%;
}
.row-sub-8 .col-3 {
  width: 37.5%;
}
.row-sub-8 .col-4 {
  width: 50%;
}
.row-sub-8 .col-5 {
  width: 62.5%;
}
.row-sub-8 .col-6 {
  width: 75%;
}
.row-sub-8 .col-7 {
  width: 87.5%;
}
.row-sub-8 .col-8 {
  width: 100%;
}
.take-left-gap {
  margin-left: -0.75em;
}
::-webkit-input-placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
::-moz-placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
:-ms-input-placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
::placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
.placeholder {
  color: #a9a9a9;
  font-weight: 200;
}
.btn {
  font-size: 1.125em;
  line-height: 1.222222222222222em;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  height: 2.5em;
  text-align: center;
  padding: 0.666666666666667em 0.888888888888889em 0.611111111111111em;
  background: transparent;
  border: none;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-blue {
  background: #00f;
}
.btn-orange {
  background: #ff592e;
}
.btn-black {
  background: #464547;
}
.btn-danger {
  background: #fb0000;
}
.btn-link {
  font-size: 0.777777777777778em;
  line-height: 1.214285714285714em;
  font-weight: 400;
  text-align: left;
  padding: 1em 0;
}
.btn-link,
.btn-link.btn-disabled {
  color: #464547;
}
.btn-link span {
  border-bottom: solid 1px;
}
.btn-trans,
.btn-trans-dark,
.btn-trans-white {
  border: 1px solid;
  padding: 0.611111111111111em 0.833333333333333em 0.555555555555556em;
}
.btn-trans {
  border-color: #a2a2a3;
}
.btn-trans,
.btn-trans.btn-disabled {
  color: #969495;
}
.btn-trans-dark {
  border-color: #464547;
}
.btn-trans-dark,
.btn-trans-dark.btn-disabled {
  color: #464547;
}
.btn-trans-white {
  border-color: #fff;
}
.btn-trans-white,
.btn-trans-white.btn-disabled {
  color: #fff;
}
.btn-trans-white:hover {
  opacity: 0.9;
}
.btn-disabled,
.btn:disabled {
  color: rgba(255,255,255,0.3);
  opacity: 0.3;
  cursor: default;
}
.btn-disabled:hover,
.btn:disabled:hover {
  opacity: 0.3;
}
.popover__target .btn-disabled,
.popover__target .btn:disabled {
  cursor: pointer;
}
.large-form .form-group {
  margin-bottom: 1.5625em;
}
.large-form [type="text"],
.large-form [type="password"],
.large-form__btn {
  font-size: 1.5625em;
  line-height: 1.2em;
  display: block;
  padding: 1.56em 2.2em 1.44em;
  width: 100%;
}
.large-form [type="text"],
.large-form [type="password"] {
  border: solid 1px #e5e4e2;
  font-weight: 600;
}
.large-form [type="text"]:focus,
.large-form [type="password"]:focus {
  border-color: #7fa1fc;
  outline: none;
}
.large-form__btn {
  background: #ff592e;
  border: none;
  font-weight: 700;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.large-form__btn:hover {
  opacity: 0.8;
}
.large-form .form-error {
  color: #f00;
  font-size: 0.875em;
  line-height: 0.9375em;
  margin-top: 0.625em;
}
.text-input {
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: solid 1px #969495;
  width: 100%;
}
.has-error .landing-registration__email,
.has-error .text-input {
  border-color: #ff1200;
}
.landing-registration__email:focus,
.text-input:focus {
  outline: none;
  border-color: #00f;
}
.oauth p {
  font-size: 0.875em;
  line-height: 1.071428571428571em;
}
.oauth ul {
  margin-right: -1.25em;
}
.oauth ul:after,
.oauth ul:before {
  content: " ";
  display: table;
}
.oauth ul:after {
  clear: both;
}
.oauth ul li {
  display: block;
  float: left;
  width: 7.5em;
  margin-right: 1.25em;
}
.oauth__btn {
  font-size: 0.625em;
  line-height: 1.2em;
  font-weight: 600;
  border: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 1.1em 0 1em;
  background-repeat: no-repeat;
  background-position: 1.2em 50%;
  background-color: #464547;
}
.oauth__btn:hover {
  opacity: 0.8;
}
.oauth__vk .oauth__btn {
  background-image: url("../images/icons/vk.svg");
  background-size: 1em 1em;
}
.oauth__odnoklassniki .oauth__btn {
  background-image: url("../images/icons/odnoklassniki.svg");
  background-size: 1em 1.5em;
  padding-left: 1.5em;
}
.oauth__facebook .oauth__btn {
  background-image: url("../images/icons/facebook.svg");
  background-size: 0.6em 1.5em;
}
.editable-header h2,
.editable-header input {
  font-size: 1.875em;
  line-height: 1.133333333333333em;
  font-weight: 600;
}
.editable-header h2 {
  display: inline-block;
  cursor: pointer;
}
.editable-header h2:after {
  content: '';
  display: inline-block;
  width: 1.0625em;
  height: 1.125em;
  background: url("../images/icons/edit.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  margin-left: 0.6em;
}
.editable-header input {
  display: none;
  width: 31.25em;
}
.editable-header.edit-mode h2 {
  display: none;
}
.editable-header.edit-mode input {
  display: block;
}
.editable-header--disabled h2 {
  cursor: text;
}
.editable-header--disabled h2:after {
  display: none;
}
.radio,
.checkbox {
  display: inline-block;
  position: relative;
}
.radio input,
.checkbox input {
  position: absolute;
  opacity: 0;
}
.radio__ui,
.checkbox__ui {
  width: 2em;
  height: 2em;
  background: #fff;
}
.settings-block--alt-bg .radio__ui,
.settings-block--alt-bg .checkbox__ui {
  background: #f1f1ef;
}
.radio__ui {
  border-radius: 6.25em;
  display: block;
  padding: 0.3125em;
}
input:checked + .radio__ui:before {
  content: '';
  display: block;
  background: #ff592e;
  width: 1.375em;
  height: 1.375em;
  border-radius: 6.25em;
}
.radio--bigger .radio__ui {
  background: #f1f1ef;
  width: 3em;
  height: 3em;
  border: 0.5em solid #fff;
}
.radio--bigger input:checked + .radio__ui {
  border-color: #f1f1ef;
}
input:checked + .checkbox__ui {
  background: #ff592e url("../images/icons/check.svg") no-repeat;
  background-size: 1.3125em 1.125em;
  background-position: center;
}
.is-disabled {
  cursor: default !important;
}
.is-disabled .radio__ui,
.is-disabled .checkbox__ui,
input:disabled + .radio__ui,
input:disabled + .checkbox__ui,
.is-disabled + .radio__ui,
.is-disabled + .checkbox__ui {
  opacity: 0.6;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
.input-group .text-input,
.input-group__addon {
  display: table-cell;
}
.form-global-errors li,
.form-field-error {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 400;
  letter-spacing: 0.013em;
  color: #ff1200;
  background: url("../images/icons/error-small.svg") no-repeat;
  padding-left: 1.428571428571429em;
}
.form-field-error {
  margin-bottom: 0.9375em;
}
.form-global-errors {
  margin-bottom: 1.25em;
}
h2 + .form-global-errors,
h3 + .form-global-errors {
  margin-top: -1.25em;
}
.settings-block .form-global-errors {
  margin: 0;
}
.auth-modal .form-global-errors {
  margin-top: -2.5em;
}
.default-form .form-group {
  overflow: hidden;
  margin-bottom: 2.5em;
}
.default-form .text-input {
  font-size: 1.5em;
  line-height: 1.166666666666667em;
  padding: 0.083333333333333em 0;
  margin-bottom: 0.5em;
}
.declaration {
  padding: 2.5em 0 3.125em;
}
.declaration-form {
  display: none;
}
.declaration--edit-mode .declaration-form {
  display: block;
}
.declaration--edit-mode .declaration-info {
  display: none;
}
.declaration-info__title {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: 0.012em;
  display: block;
  margin-bottom: 2em;
  margin-top: 0.5em;
}
.declaration-info__val {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  display: block;
  margin-bottom: 1.5em;
}
.declaration-form__label {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
  margin-top: -1.166666666666667em;
  margin-bottom: 2.166666666666667em;
}
.declaration-form__label .icon {
  vertical-align: top;
  margin: -0.166666666666667em 0 0 0.333333333333333em;
}
.declaration-field {
  margin-bottom: 2.25em;
}
.declaration-field,
.declaration-field input {
  font-size: 1.25em;
  line-height: 1.1em;
  font-weight: 200;
}
.declaration-field__input {
  margin-right: 2.25em;
  position: relative;
}
.declaration-field__input input {
  display: block;
  padding: 0.25em 0 0.25em;
}
.has-mismathc-total-err .declaration-field__input--price input {
  border-color: #f00;
}
.declaration-row-ctrls:after,
.declaration-row-ctrls:before {
  content: " ";
  display: table;
}
.declaration-row-ctrls:after {
  clear: both;
}
.declaration-row-ctrls__total {
  font-size: 1.25em;
  line-height: 1.1em;
  font-weight: 200;
  display: inline-block;
  padding: 0.2em 0;
  color: #969495;
}
.declaration-row-ctrls__is-complete,
.declaration-row-ctrls__remove {
  float: right;
  display: inline-block;
  width: 1.5625em;
  height: 1.5625em;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
  margin-left: 0.9375em;
}
.declaration-row-ctrls__is-complete {
  background-image: url("../images/icons/filled-correctly.svg");
  visibility: hidden;
}
.declaration-row.is-complete .declaration-row-ctrls__is-complete {
  visibility: visible;
}
.declaration-row-ctrls__remove {
  background-image: url("../images/icons/delete.svg");
  cursor: pointer;
}
.declaration-row.is-empty:last-child .declaration-row-ctrls__remove {
  visibility: hidden;
}
.declaration__total-mismatch {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 200;
  color: #fb0000;
  margin-bottom: 1.25em;
}
.declaration__total-def-currency {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 400;
  letter-spacing: 0.012em;
  display: block;
}
html,
body {
  height: 100%;
}
.page-wrap {
  position: relative;
  padding-bottom: 34.625em;
  min-height: 100%;
}
@media (max-width: 1294px) {
  .page-wrap {
    padding-bottom: 34.0625em;
  }
}
.footer__wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer {
  background: #ff592e;
  color: #fff;
  position: relative;
  padding: 2.8125em 0 3.75em;
}
.footer a {
  display: inline-block;
}
.footer a:hover {
  opacity: 0.8;
}
.footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.5625em;
  background: #00f;
}
.footer__menu {
  font-size: 1.125em;
  line-height: 1.333333333333333em;
  font-weight: 400;
  letter-spacing: 0.009em;
  margin-bottom: 4.722222222222222em;
}
.footer__social li {
  display: inline-block;
  margin-right: 0.3125em;
}
.footer__social a {
  border: none;
}
.footer__contacts h4,
.footer__storages h4 {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.071428571428571em;
}
.footer__contacts__email,
.footer__contacts__phone {
  font-size: 1.125em;
  line-height: 1.222222222222222em;
  font-weight: 400;
  letter-spacing: 0.009em;
}
.footer__contacts__email {
  margin-bottom: 2.111111111111111em;
}
.footer__contacts__phone {
  margin-bottom: 1.111111111111111em;
}
.footer__contacts__phone small {
  font-size: 0.777777777777778em;
  line-height: 1.214285714285714em;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
}
.footer__contacts__phone a {
  border: none;
}
.footer__storages a {
  font-size: 1.125em;
  line-height: 1.222222222222222em;
  font-weight: 400;
  letter-spacing: 0.009em;
}
.footer__storages li {
  margin-bottom: 1.25em;
}
.footer__storages__name {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 200;
  text-transform: uppercase;
  display: block;
}
.footer__bottom {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 600;
  letter-spacing: 0.013em;
  margin-top: 8.571428571428571em;
}
.footer__bottom a {
  border: none;
  margin-bottom: 0.071428571428571em;
}
.header {
  background: #ff592e;
  color: #fff;
  position: relative;
}
.header:after,
.header:before {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header__left {
  float: left;
}
.header__left:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.5625em;
  background: #00f;
}
.header__right {
  float: right;
}
.header__logo,
.header__slogan {
  display: inline-block;
  vertical-align: top;
  height: 5.125em;
}
.header__logo {
  padding-top: 1.5625em;
  margin-right: 2.125em;
  position: relative;
}
.header__logo img {
  width: 9.625em;
  height: auto;
}
.header__slogan {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 700;
  padding-top: 1.714285714285714em;
}
.header__btn {
  font-size: 1.0625em;
  line-height: 1em;
  font-weight: 700;
  display: block;
  border: solid 2px #fff;
  padding: 0.470588235294118em 0.941176470588235em;
  margin-top: 1.294117647058824em;
  background: none;
}
.header-menu,
.header-lang {
  display: inline-block;
  margin-left: 1.5em;
}
.header-menu li,
.header-lang li {
  display: inline-block;
}
.header-menu li a,
.header-lang li a,
.header-menu li span,
.header-lang li span {
  font-size: 1.25em;
  line-height: 4.1em;
  font-weight: 600;
  display: block;
}
.header-menu a {
  padding: 0 1.4em;
}
.header-menu a:hover {
  opacity: 0.9;
}
.header-lang a,
.header-lang span {
  padding: 0 0.65em;
}
.header-lang span {
  background: #fff;
  color: #ff592e;
}
.icon {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
}
.icon-help {
  background: url("../images/icons/circle-help.svg");
}
.icon-ok {
  background: url("../images/icons/circle-ok.svg");
}
.js-template {
  display: none;
}
.height-limit {
  overflow: hidden;
  position: relative;
  max-height: 21.875em;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.height-limit__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("../images/helpers/fade-grad.png") repeat-x 100% 100%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  cursor: pointer;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-top-header {
  background: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.modal-top-header .container {
  position: relative;
}
.modal-top-header-logo,
.modal-top-header-slogan {
  display: inline-block;
  vertical-align: top;
  height: 5.125em;
}
.modal-top-header-logo {
  padding-top: 1.5625em;
  margin-right: 2.125em;
}
.modal-top-header-logo img {
  width: 9.625em;
  height: auto;
}
.modal-top-header-slogan {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 700;
  padding-top: 1.714285714285714em;
}
.modal-top-header-logo {
  padding-top: 1.5625em;
}
.modal-top-header-logo img {
  width: 9.625em;
  height: auto;
}
.modal-top-header-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2.375em;
  border: none;
  background: url("../images/icons/close-big.svg") no-repeat 100% 50%;
  overflow: hidden;
  background-size: contain;
}
.modal-top-header-close:before {
  content: '';
  display: block;
  height: 120%;
}
.modal-open {
  overflow: hidden;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: 34.375em;
  margin: 5.125em auto 1.25em;
}
.modal-content {
  position: relative;
  background-color: #fff;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000034;
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.9;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 3.125em;
  height: 3.125em;
  overflow: scroll;
}
.auth-modal {
  background: #fff;
  padding: 3.125em 4.6875em;
}
.auth-modal h3 {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 1.666666666666667em;
}
.auth-modal .form-group {
  overflow: hidden;
  margin-bottom: 2.5em;
}
.auth-modal .text-input {
  font-size: 1.5em;
  line-height: 1.166666666666667em;
  padding: 0.083333333333333em 0;
  margin-bottom: 0.5em;
}
.auth-modal__save {
  margin-bottom: 1em;
}
.large-form + .auth-modal__alt-action {
  margin-top: -0.625em;
}
.auth-modal__alt-action a,
.auth-modal__alt-action button {
  font-size: 0.875em;
  line-height: 1.428571428571429em;
  color: #464547;
  text-decoration: none;
  background: none;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #464547;
}
.auth-modal .oauth {
  margin-top: 2.1875em;
  margin-bottom: 1.0625em;
}
.auth-modal .oauth p {
  font-size: 0.875em;
  line-height: 1.071428571428571em;
  margin-bottom: 1em;
}
.ppf__top {
  background: #f1f1ef;
  padding: 2.5em 4.6875em;
}
.ppf__top h3 {
  font-size: 1.5em;
  line-height: 1.166666666666667em;
  font-weight: 600;
  margin-bottom: 1.875em;
}
.ppf__menu li {
  padding: 0.625em 0;
}
.ppf__menu li:after,
.ppf__menu li:before {
  content: " ";
  display: table;
}
.ppf__menu li:after {
  clear: both;
}
.ppf__menu__controls {
  float: right;
}
.ppf__menu__controls__edit,
.ppf__menu__controls__remove {
  display: inline-block;
  width: 1.5625em;
  height: 1.5625em;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
  margin-top: -0.1875em;
}
.ppf__menu__controls__edit {
  background-image: url("../images/icons/circle-edit.svg");
}
.ppf__menu__controls__remove {
  background-image: url("../images/icons/delete.svg");
}
.ppf__menu__name {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
}
.ppf__bottom {
  padding: 3.125em 4.6875em;
}
.ppf__bottom h3 {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 3.125em;
}
.ppf__field {
  overflow: hidden;
  margin-bottom: 2.5em;
}
.ppf__field input {
  font-size: 1.5em;
  line-height: 1.166666666666667em;
  padding: 0.125em 0;
  margin-bottom: 0.75em;
}
.ppf__field__help {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 400;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
}
.ppf__save {
  margin-bottom: 1.5625em;
}
.popover {
  position: absolute;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  right: 50%;
  bottom: 50%;
  width: 15em;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.popover.is-visible {
  opacity: 1;
  visibility: visible;
}
.popover__target {
  position: relative;
  cursor: pointer;
}
.popover__content {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 200;
  color: #969495;
  text-transform: none;
  position: absolute;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  bottom: 3.166666666666667em;
  right: -50%;
  width: 100%;
  padding: 1.666666666666667em 2.333333333333333em;
  background: #fff;
  border: solid 1px;
}
.popover__content:before,
.popover__content:after {
  content: '';
  display: block;
  position: absolute;
}
.popover__content:before {
  width: 0;
  height: 3.166666666666667em;
  top: 100%;
  left: 50%;
  border-right: 1px solid #969495;
}
.popover__content:after {
  width: 0.583333333333333em;
  height: 0.583333333333333em;
  bottom: -3.5em;
  left: 50%;
  margin-left: -0.1875em;
  background: #969495;
  border-radius: 8.333333333333334em;
}
.popover--for-round-icon .popover__content:after {
  display: none;
}
.popover--for-round-icon .popover__content:before {
  height: 2.0625em;
}
.popover--target-width {
  width: 100%;
}
.dashed-text {
  border-bottom: dashed 1px;
  display: inline-block;
}
.cms-no-route .no-route__content {
  width: 25em;
  margin: 8.125em auto 9.375em;
}
.cms-no-route .no-route__content h2 {
  margin: 1.875em 0 1.25em;
}
.cms-no-route .wrapper .footer__wrap {
  position: relative;
}
.dashboard-row {
  position: relative;
}
.dashboard-row .container {
  z-index: 1;
  position: relative;
}
.dashboard-row .container:after,
.dashboard-row .container:before {
  content: " ";
  display: table;
}
.dashboard-row .container:after {
  clear: both;
}
.dashboard-row .container .col-4 {
  width: 49%;
}
.dashboard-row--header-bg {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 7.75em;
  z-index: 0;
}
.dashboard-row {
  padding-bottom: 1.875em;
}
.dashboard-row__content:after,
.dashboard-row__content:before {
  content: " ";
  display: table;
}
.dashboard-row__content:after {
  clear: both;
}
.dashboard-row h2 {
  font-size: 2.125em;
  line-height: 1.235294117647059em;
  font-weight: 600;
  padding: 1.235294117647059em 0;
  cursor: pointer;
}
.dashboard-row h2 i {
  width: 1.058823529411765em;
  height: 1.058823529411765em;
  display: block;
  float: right;
  margin-right: 0.294117647058824em;
  margin-top: 0.176470588235294em;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}
.collapsed.dashboard-row {
  padding-bottom: 0;
}
.collapsed.dashboard-row i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dashboard-row__tab-wrap {
  padding-bottom: 1.875em;
}
.dashboard-row__tab-wrap h3 {
  font-size: 1.5625em;
  padding: 1.2em 0 0.4em;
}
.dashboard-row__tab-wrap p {
  font-weight: 200;
  margin-bottom: 1.25em;
  min-height: 3.75em;
}
.dashboard-row__prop {
  margin-bottom: 0.25em;
}
.dashboard-row__prop__name {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 200;
  color: #969495;
  text-transform: uppercase;
  margin-top: 0.833333333333333em;
  white-space: nowrap;
}
.dashboard-row__prop__value {
  font-size: 1.0625em;
  line-height: 1.764705882352941em;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #464547;
  padding-left: 2.352941176470588em;
  position: relative;
}
.dashboard-row__prop__value__copy {
  font-size: 0.823529411764706em;
  line-height: 1.142857142857143em;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  border: none;
  background: none;
  margin: 0.5em 0 0 0.642857142857143em;
  padding: 0;
  vertical-align: top;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  position: absolute;
}
.dashboard-row__prop__value__copy.copy-address {
  margin-top: 0;
  padding-top: 0.357142857142857em;
  right: 1.5em;
  top: 2.142857142857143em;
}
.dashboard-row__prop__value__copy.zeroclipboard-is-hover {
  opacity: 1;
}
.dashboard-row__prop__value:hover .dashboard-row__prop__value__copy {
  opacity: 1;
}
.storage-select {
  padding-bottom: 3.75em;
}
.storage-select p {
  margin: 1.875em 0 2.5em;
  font-weight: 200;
}
.storage-select-block__container {
  opacity: 0.65;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
.storage-select-block__container:after,
.storage-select-block__container:before {
  content: " ";
  display: table;
}
.storage-select-block__container:after {
  clear: both;
}
.storage-select-block__container.active {
  opacity: 1;
}
.storage-select-block label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.storage-select-block .radio {
  margin-bottom: 1em;
  margin-left: 0.4375em;
}
.storage-select-block__info {
  margin-bottom: 1.375em;
  margin-left: 0.4375em;
  line-height: 2.25em;
}
.storage-select-block__name {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
}
.storage-select-block__address {
  font-size: 1.125em;
  line-height: 1.444444444444444em;
  font-weight: 500;
  letter-spacing: 0.012em;
  margin-top: 0.277777777777778em;
  margin-bottom: 0.555555555555556em;
}
.storage-select-block__map img {
  margin-bottom: -0.25em;
}
.customer-account-index .parcels-list {
  position: relative;
  margin-bottom: 0;
}
.customer-account-index .parcels-list__head {
  margin: 0;
  background: #00f;
  color: #fff;
}
.customer-account-index .parcels-list h2 {
  font-size: 2.0625em;
}
.dash-instructions {
  padding: 3.5em 0;
}
.dash-instructions__intro {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 600;
}
.dash-instructions__title {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 600;
  letter-spacing: 0.012em;
  margin-bottom: 2.142857142857143em;
}
.dash-instructions__num {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 200;
  letter-spacing: 0.012em;
}
.dash-instructions__num big {
  font-size: 1.785714285714286em;
  line-height: 1em;
  display: block;
  margin-bottom: 0.6em;
}
.dash-instructions__num a {
  border-bottom: solid 1px;
}
.dash-big-alert {
  background: #00f;
  padding: 2.375em 0;
  margin-bottom: 1.625em;
}
.dash-big-alert p {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  color: #fff;
}
.parcels-list {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.625em;
  position: relative;
  padding-top: 8.875em;
}
.parcels-list__in-wrap {
  background: #fff;
  margin: 0 1.5625em;
  min-width: 77.75em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
@media (max-width: 1294px) {
  .parcels-list__in-wrap {
    width: 77.75em;
    margin: 0 auto;
  }
}
.parcels-list__head {
  min-height: 9.0625em;
  border-bottom: solid 1px #f1f1ef;
  background: #fff;
  margin: 0 1.5625em;
}
.parcels-list__head__wrap {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}
.is-above-vp.isnt-in-vp .parcels-list__head__wrap {
  top: auto;
  bottom: 0;
}
.is-in-vp.is-above-vp .parcels-list__head__wrap {
  position: fixed;
}
.parcels-list__head__sub-title {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -3.5em;
}
.parcels-list__head h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 700;
  padding: 1.428571428571429em 0;
  position: relative;
}
.parcels-list__head .btn {
  margin-top: 3.125em;
}
.parcels-list__expandable {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.parcels-list__expandable__hidden {
  display: none;
}
.parcels-list__expandable__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("../images/helpers/fade-grad.png") repeat-x 100% 100%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 85%, #fff 100%);
  cursor: pointer;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.dash-storage-select {
  background: #fff;
  padding-top: 5em;
  padding-bottom: 3.75em;
}
.dash-storage-select h3 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 200;
  margin-bottom: 0.571428571428571em;
}
.dash-storage-select__bottom-note {
  font-size: 0.875em;
  line-height: 1.142857142857143em;
  font-weight: 200;
  letter-spacing: 0.012em;
  margin-top: 3.214285714285714em;
}
.dash-storage-item {
  position: relative;
}
.dash-storage-item__name,
.dash-storage-item__address,
.dash-storage-item__distance,
.dash-storage-item__border-descr,
.dash-storage-item__map-link,
.dash-storage-item__map {
  opacity: 0.3;
}
.is-checked .dash-storage-item__name,
.is-checked .dash-storage-item__address,
.is-checked .dash-storage-item__distance,
.is-checked .dash-storage-item__border-descr,
.is-checked .dash-storage-item__map-link,
.is-checked .dash-storage-item__map {
  opacity: 1;
}
.dash-storage-item__storage-photo {
  position: absolute;
  top: 0;
  left: 100%;
  max-width: none;
  z-index: 1;
  display: none;
}
.dash-storage-item__storage-photo--to-left {
  left: auto;
  right: 100%;
  margin-right: 0.75em;
}
.is-hovered .dash-storage-item__storage-photo {
  display: block;
}
.dash-storage-item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.dash-storage-item .radio {
  margin-bottom: 3.125em;
}
.dash-storage-item__name {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 0.733333333333333em;
}
.dash-storage-item__address {
  font-size: 1.125em;
  line-height: 1.166666666666667em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.277777777777778em;
}
.dash-storage-item__distance {
  font-size: 1.1875em;
  line-height: 1.157894736842105em;
  height: 3.684210526315789em;
  background: url("../images/icons/distance.svg") no-repeat;
  padding: 0.789473684210526em 0 0 1.578947368421053em;
  margin-bottom: 0.526315789473684em;
}
.dash-storage-item__distance__distance,
.dash-storage-item__distance__time {
  display: block;
}
.dash-storage-item__distance__distance {
  font-weight: 600;
}
.dash-storage-item__distance__time {
  font-weight: 200;
}
.dash-storage-item__border-descr {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 3.916666666666667em;
}
.dash-storage-item__border-descr strong {
  font-weight: 600;
}
.dash-storage-item__map-link {
  font-size: 0.875em;
  line-height: 1.142857142857143em;
  font-weight: 200;
}
.dash-storage-item__map-link a {
  display: inline-block;
  border-bottom: solid 1px;
}
.call-to-act {
  height: 43.75em;
  background: #fff;
  padding-top: 6.875em;
  background-position: 50% 50%;
  position: relative;
}
.call-to-act__form-bg {
  background: #fff;
  position: absolute;
  height: 100%;
  width: 32.5em;
  margin-left: -3.75em;
  margin-top: -3.75em;
}
.call-to-act .col-3 {
  position: relative;
  z-index: 2;
}
.call-to-act h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 0.857142857142857em;
}
.call-to-act__descr {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 1.5em;
}
.call-to-act__btn-wrap {
  margin-top: 5em;
}
.call-to-act__btn {
  font-size: 1.125em;
  line-height: 1.222222222222222em;
  font-weight: 700;
  display: block;
  width: 100%;
  color: #fff;
  background: #ff592e;
  border-radius: 0.111111111111111em;
  padding: 1em 1.388888888888889em;
  border: none;
  text-align: center;
}
.call-to-act__btn:hover {
  opacity: 0.8;
}
.call-to-act__btn small {
  font-size: 100%;
  font-weight: 200;
}
p + .call-to-act__btn {
  margin-top: 0px;
}
.landing-hello {
  background-image: url("../images/photo/bg-call-to-act-a.jpg");
}
.landing-how-it-works {
  background: #fff url("../images/illustrations/world-map-uk.png") no-repeat -9999px -9999px;
  padding-top: 4.375em;
  padding-bottom: 6.875em;
}
.landing-how-it-works h3 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 1.25em;
}
.landing-how-it-works .col-2 {
  width: 25%;
}
.landing-step__num {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 400;
  display: block;
}
.landing-step__title {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: 0.005em;
  margin-bottom: 1.36em;
}
.landing-step__img {
  width: 9.375em;
  height: auto;
  margin-bottom: 2.875em;
}
.landing-step__descr {
  font-size: 1.125em;
  line-height: 1.388888888888889em;
  padding-right: 1.25em;
}
.landing-friend {
  background-image: url("../images/photo/bg-call-to-act-b.jpg");
}
.landing-registration {
  background-image: url("../images/photo/bg-call-to-act-c.jpg");
  padding-top: 3.75em;
  height: 56.25em;
  background-repeat: none;
  background-size: cover;
}
.landing-registration__email {
  font-size: 1.125em;
  line-height: 1.111111111111111em;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #464547;
  padding: 0.388888888888889em 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.landing-registration__email:focus {
  outline: none;
  border-color: #7fa1fc;
}
.landing-registration__email__wrap {
  margin-bottom: 2.5em;
}
.landing-registration__email__error {
  color: #f30;
  font-size: 0.777777777777778em;
  line-height: 1.071428571428571em;
  margin-top: 0.714285714285714em;
}
.landing-registration__terms {
  font-size: 0.75em;
  line-height: 1.333333333333333em;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 5em;
}
.landing-registration .call-to-act__btn {
  margin-bottom: 0.625em;
}
.landing-oauth {
  background: url("../images/illustrations/world-map-usa.png") no-repeat -9999px -9999px;
}
.landing-oauth p {
  margin-bottom: 1.1em;
}
.landing-oauth__btn {
  font-size: 0.625em;
  line-height: 1.2em;
  font-weight: 600;
  border: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 1.1em 0 1em;
  background-repeat: no-repeat;
  background-position: 1em 50%;
  background-color: #464547;
}
.landing-oauth__btn:hover {
  opacity: 0.8;
}
.landing-oauth__vk .landing-oauth__btn {
  background-image: url("../images/icons/vk.svg");
  background-size: 1em 1em;
}
.landing-oauth__odnoklassniki .landing-oauth__btn {
  background-image: url("../images/icons/odnoklassniki.svg");
  background-size: 1em 1.5em;
  padding-left: 1.5em;
}
.landing-oauth__facebook .landing-oauth__btn {
  background-image: url("../images/icons/facebook.svg");
  background-size: 0.6em 1.5em;
}
.landing-partner {
  margin-top: 2.8125em;
}
.landing-partner__title {
  font-size: 1em;
  margin-bottom: -1.25em;
}
.landing-partner__subtitle {
  font-size: 0.9375em;
  position: absolute;
  margin-top: -2.375em;
  right: 0.5em;
}
.landing-partner__link {
  margin-top: -0.75em;
  font-size: 1em;
  text-align: right;
}
.landing-features {
  background: #f2f1f0;
  padding: 7.5em 0;
  background: #f2f1f0 url("../images/illustrations/world-map-italy.png") no-repeat -9999px -9999px;
}
.landing-features h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 2.457142857142857em;
}
.landing-features h3 {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 1.28em;
  white-space: nowrap;
}
.landing-features li {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  margin-bottom: 2.4em;
  position: relative;
}
.landing-features li:before {
  content: '';
  display: block;
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  background: url("../images/icons/filled-correctly.svg");
  top: 0;
  left: -1.75em;
  background-size: contain;
}
.landing-prices {
  background: #fff;
  padding: 5em 0;
  background: #fff url("../images/illustrations/world-map-france.png") no-repeat -9999px -9999px;
}
.landing-prices h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 1em;
}
.world-prices {
  background-repeat: no-repeat;
  background-size: 51.875em 26.125em;
  background-position: 100% 0;
  position: relative;
  height: 26.125em;
}
.world-prices.world-prices-0 {
  background-image: url("../images/illustrations/world-map-france.png");
}
.world-prices.world-prices-2,
.world-prices.world-prices-4 {
  background-image: url("../images/illustrations/world-map-usa.png");
}
.world-prices.world-prices-3 {
  background-image: url("../images/illustrations/world-map-uk.png");
}
.world-prices.world-prices-5 {
  background-image: url("../images/illustrations/world-map-italy.png");
}
.world-prices__menu {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.9em;
  width: 15em;
}
.world-prices__menu li {
  margin-bottom: 0.7em;
  cursor: pointer;
  position: relative;
  padding-left: 1.5em;
}
.world-prices__menu li.active {
  cursor: default;
}
.world-prices__menu li:before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 5em;
  background: #f1f1ef;
  position: absolute;
  left: 0;
  top: 0;
}
.world-prices__menu li.active:after {
  content: '';
  display: block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 5em;
  background: #ff592e;
  position: absolute;
  left: 0.15em;
  top: 0.15em;
}
.world-prices__info {
  position: relative;
  display: none;
}
.world-prices__info:after,
.world-prices__info:before {
  content: " ";
  display: table;
}
.world-prices__info:after {
  clear: both;
}
.world-prices__info.active {
  display: block;
}
.world-prices__info img {
  float: left;
  width: 8.3125em;
  height: 8.3125em;
  background-color: #ff592e;
  margin-right: 2.75em;
}
.world-prices__info h4 {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
.world-prices__info__name {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 700;
  text-transform: uppercase;
}
.world-prices__info__bottom {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 200;
  position: absolute;
  bottom: 0;
  left: 14.75em;
  width: 23.333333333333332em;
}
.world-prices__price {
  position: absolute;
  display: none;
  left: 47.5em;
  top: 5.0625em;
  width: 18.75em;
}
.world-prices__price.active {
  display: block;
}
.world-prices__price__item {
  position: absolute;
  left: 0.25em;
  top: 13.3125em;
}
.world-prices__price__item__num {
  font-size: 1.3125em;
  line-height: 2.380952380952381em;
  font-weight: 600;
}
.world-prices__price__item__num strong {
  font-size: 3.125em;
  line-height: 1em;
  font-weight: 600;
  font-size: 2.380952380952381em;
  line-height: 1em;
  font-weight: 600;
}
.world-prices__price__item__loc {
  font-size: 1.6875em;
  line-height: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: -0.3em;
}
.world-prices__price__item:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0.375em;
  left: -0.3125em;
  width: 0;
  height: 15.8125em;
  border-left: 1px solid #ff592e;
}
.world-prices__price__item:after {
  content: '';
  position: absolute;
  display: block;
  width: 0.3125em;
  height: 0.3125em;
  background: #ff592e;
  border-radius: 6.25em;
  left: -0.4375em;
  bottom: 16.0625em;
}
.world-prices__price__item--local .world-prices__price__item__num {
  font-size: 0.8125em;
  line-height: 1.769230769230769em;
  font-weight: 600;
}
.world-prices__price__item--local .world-prices__price__item__num strong {
  font-size: 1.769230769230769em;
  line-height: 1em;
  font-weight: 600;
}
.world-prices__price__item--local .world-prices__price__item__loc {
  font-size: 0.8125em;
  line-height: 1em;
  font-weight: 200;
}
.world-prices__price__item--local {
  left: 3.625em;
  top: 5.625em;
}
.world-prices__price__item--local:before {
  bottom: 0.1875em;
  left: -0.1875em;
  height: 7.8125em;
}
.world-prices__price__item--local:after {
  left: -0.3125em;
  bottom: 7.875em;
}
.world-prices__price__item--rome {
  left: 1.4375em;
  top: 13.125em;
}
.world-prices__price__item--rome:before {
  height: 14.6875em;
}
.world-prices__price__item--rome:after {
  bottom: 14.9375em;
}
.world-prices__price__item--new-york {
  left: -12.1875em;
  top: 13.125em;
}
.world-prices__price__item--new-york:before {
  height: 14em;
}
.world-prices__price__item--new-york:after {
  bottom: 14.25em;
}
.world-prices__price__item--london {
  left: -0.375em;
  top: 13.25em;
}
.world-prices__price__item--london:before {
  height: 16.625em;
}
.world-prices__price__item--london:after {
  bottom: 16.875em;
}
.storage-slider {
  overflow: hidden;
  padding-bottom: 1.25em;
  height: 31.3125em;
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-theme .owl-controls {
  margin-top: 0.625em;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons {
  position: absolute;
  top: -15.625em;
  width: 100%;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 0.3125em 0.5625em;
}
.owl-theme .owl-buttons i {
  margin-top: 0.125em;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  color: #fff;
  height: 6.25em;
  width: 2em;
  opacity: 0;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.owl-theme:hover .owl-controls .owl-buttons div {
  opacity: 1;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 2%;
  background: url("../images/icons/slider-arrow-left.svg") no-repeat;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  background: url("../images/icons/slider-arrow-right.svg") no-repeat;
  left: 95%;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(100);
/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}
.owl-controls.clickable {
  margin-top: -3.125em;
  position: relative;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 1.25em;
  height: 1.25em;
  margin: 0.3125em 0.4375em;
  border-radius: 1.25em;
  border: 2px solid #fff;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #fff;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
  font-size: 0.75em;
  height: auto;
  width: auto;
  color: #fff;
  padding: 0.166666666666667em 0.833333333333333em;
  border-radius: 2.5em;
}
.owl-item.loading {
  min-height: 9.375em;
}
.parcel-name-block,
.declaration,
.parcel-info--single,
.parcel-full-info {
  background: #fff;
}
.declaration,
.parcel-info--single {
  border-bottom: solid 1px #f2f1f0;
}
.parcel-info {
  border-top: solid 1px #f1f1ef;
  padding: 3em 0 2.5em;
}
.parcel-info .container {
  position: relative;
}
.parcel-info .container:before {
  content: '';
  display: block;
  position: absolute;
  top: -3em;
  left: 0;
  height: 0.875em;
  width: 0.75em;
}
.parcels-list--action-needed .parcel-info .container:before {
  background: #f00;
}
.parcels-list--ready .parcel-info .container:before {
  background: #ff592e;
}
.parcels-list--picked-up .parcel-info .container:before {
  background: #464547;
}
.parcels-list--picked-up-pending .parcel-info .container:before {
  background: #00f;
}
.parcel-info h4 {
  font-size: 1.875em;
  line-height: 1.133333333333333em;
  font-weight: 600;
  margin-bottom: 0.866666666666667em;
}
.parcel-info__label {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.625em;
}
.parcel-info__value {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  display: block;
  margin-bottom: 1em;
}
.parcel-info__value strong {
  font-weight: 600;
}
.parcel-info__danger-note,
.parcel-info__info-note {
  font-size: 0.875em;
  line-height: 1.071428571428571em;
  font-weight: 200;
  display: block;
  margin-top: 1em;
}
.parcel-info__danger-note {
  color: #fb0000;
}
.parcel-info__info-note {
  color: #00f;
}
.parcel-info__controls-spacing {
  display: block;
  height: 1em;
}
.parcel-info--single {
  border-top: none;
}
.parcel-info--single .container:before {
  display: none;
}
.parcel-name-block {
  padding-top: 3em;
}
.parcel-name-block .container {
  position: relative;
}
.parcel-name-block .container:before {
  content: '';
  display: block;
  position: absolute;
  top: -3em;
  left: 0;
  height: 0.875em;
  width: 0.75em;
  background: #ff592e;
}
.parcel-name-block--action-requred .container:before {
  background: #f00;
}
.parcel-name-block--picked-up .container:before {
  background: #464547;
}
.parcel-name-block--has-issue .container:before,
.parcel-name-block--had-issue .container:before {
  background: #00f;
}
.parcel-full-info {
  padding-top: 2em;
  padding-bottom: 6.25em;
}
.parcel-full-info h2 {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: 0.012em;
  margin-bottom: 2em;
}
.parcel-full-info__label {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  letter-spacing: 0.023em;
  color: #969495;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.333333333333333em;
}
.parcel-full-info__value {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  display: block;
  margin-bottom: 2.8em;
}
.parcel-full-info__photo-prev {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 10em;
  height: 10em;
  border: solid 1px #a2a2a3;
  margin-bottom: 1.875em;
}
.action-requred-block {
  background: #f00;
  color: #fff;
  padding: 3.125em 0 1.25em;
}
.action-requred-block__message {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  display: block;
  margin-bottom: 1em;
}
.action-requred-block__secondary-text {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 200;
}
.action-requred-block__secondary-text p {
  margin-bottom: 1.2em;
}
.issue-alert-block {
  background: #00f;
  color: #fff;
  padding: 3.125em 0 1.25em;
}
.issue-alert-block--resolved {
  background: #464547;
}
.issue-alert-block__primary-text {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 600;
}
.issue-alert-block__primary-text p {
  margin-bottom: 1.2em;
}
.issue-alert-block__secondary-text {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 200;
}
.issue-alert-block__secondary-text p {
  margin-bottom: 1.2em;
}
.single-form-page {
  padding: 5em 0 5em;
  background: #fff;
}
.single-form-page h3 {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.single-form-page__text {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 1em;
}
h3 + .single-form-page__text {
  margin-top: -0.333333333333333em;
}
.single-form-page__text + form {
  margin-top: 2em;
}
.single-form-page__text a {
  text-decoration: underline;
}
.succes-message img {
  display: block;
  margin-bottom: 3.75em;
  margin-top: 1.875em;
}
.payment-form-wrap {
  background: #fff;
  padding-top: 3.75em;
  padding-bottom: 9.0625em;
}
.payment-form-wrap h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 1.571428571428571em;
}
.payment-form-wrap__bottom__note {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 700;
  max-width: 27.5em;
  margin-bottom: 1.75em;
}
.payment-form-wrap__bottom__note strong {
  color: #00f;
}
.payment-form-wrap__error {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.009em;
  color: #ff0b15;
  margin-bottom: 1.25em;
  margin-top: -2.25em;
}
.in-local-currency {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 400;
  letter-spacing: 0.023em;
  text-transform: uppercase;
  color: #969495;
  text-align: center;
  margin-top: 1em;
}
.payment-form {
  position: relative;
  height: 20.8125em;
  width: 42em;
  margin-bottom: 3.125em;
}
.payment-form .form-control {
  background: transparent;
  border: none;
  border-bottom: solid 2px #464547;
  padding: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.payment-form .form-control:focus,
.payment-form .has-error .form-control:focus {
  border-color: #00f;
  outline: none;
}
.payment-form .has-error .form-control {
  border-color: #ff0b15;
}
.payment-form__code-wrap,
.payment-form__main-wrap {
  position: absolute;
  height: 100%;
  width: 32.6875em;
  border-radius: 1.4375em;
  top: 0;
}
.payment-form__code-wrap {
  right: 0;
  background: #cac9ca;
  padding-top: 2.1875em;
  padding-left: 23.375em;
}
.payment-form__code-wrap:before {
  content: '';
  display: block;
  height: 4.6875em;
  background: #464547;
  margin-bottom: 2.3125em;
}
.payment-form__main-wrap {
  left: 0;
  background: #f1f0ef;
  padding: 1.875em 0 0 2.125em;
  z-index: 1;
}
.payment-form label {
  font-size: 0.8125em;
  line-height: 1.153846153846154em;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  text-transform: uppercase;
  display: block;
}
.payment-form .form-control {
  font-size: 1.4375em;
  line-height: 1.08695652173913em;
  font-weight: 700;
  padding: 0.08695652173913em 0;
  margin-bottom: 0.434782608695652em;
  display: inline-block;
}
.payment-form__code {
  background: #fff;
  padding: 1em 1.625em 1.0625em;
  display: inline-block;
}
.payment-form__code input {
  width: 3.75em;
}
.payment-form__title {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.425em;
}
.payment-form__number {
  margin-bottom: 1.125em;
}
.payment-form__number input {
  width: 18.75em;
}
.payment-form__date {
  margin-bottom: 1.125em;
}
.payment-form__date input {
  width: 2.1875em;
}
.payment-form__date__delimetr {
  font-size: 1.625em;
  line-height: 1em;
  font-weight: 200;
  color: #969495;
  vertical-align: top;
  display: inline-block;
  margin: 0.153846153846154em 0.384615384615385em 0 0.576923076923077em;
}
.payment-form__ovner input {
  width: 28.125em;
}
.payment-error-page {
  padding: 3.75em 0 1px 2em 20;
}
.payment-error-page__icon {
  padding-bottom: 2.5em;
}
.payment-error-page h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 700;
  padding-bottom: 3.125em;
}
.payment-error-page p {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 200;
  padding-bottom: 3.125em;
}
.payment-success {
  background: #fff;
}
.payment-success h2 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 600;
  padding: 3.75em 0 2.5em;
}
.payment-success__block {
  border-top: solid 1px #f1f1ef;
  border-bottom: solid 1px #f1f1ef;
}
.payment-success__block + .payment-success__block {
  border-top: none;
}
.payment-success__block__head {
  padding: 1.875em 0;
}
.payment-success__block__head h3 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 600;
}
.payment-success__block__head a {
  font-size: 0.875em;
  line-height: 1.428571428571429em;
  font-weight: 200;
  letter-spacing: 0.012em;
  display: inline-block;
  border-bottom: 1px solid;
  margin-top: 0.9375em;
}
.payment-success__block__head a:hover {
  border-bottom: none;
  margin-bottom: 1px;
}
.payment-success__bottom {
  padding: 3.4375em 0 4.0625em;
}
.settings-block {
  background: #f1f1ef;
  padding-top: 3.75em;
  padding-bottom: 2.5em;
}
.settings-block--alt-bg {
  background: #fff;
}
.settings-block h3 {
  font-size: 2.1875em;
  line-height: 1.2em;
  font-weight: 600;
  max-width: 20em;
  margin-bottom: 0.342857142857143em;
}
.settings-block__sub-title {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  max-width: 35em;
  margin-bottom: 1.6em;
}
.storage-select-item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.storage-select-item .radio {
  margin-bottom: 1em;
}
.storage-select-item__name {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 0.733333333333333em;
}
.storage-select-item__name small {
  font-size: 0.4em;
  line-height: 1.166666666666667em;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.storage-select-item__map {
  font-size: 0.875em;
  line-height: 1.285714285714286em;
  font-weight: 200;
  letter-spacing: 0.012em;
  display: inline-block;
  border-bottom: solid 1px;
}
.alert-select-item {
  margin-bottom: 3.125em;
}
.alert-select-item label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.alert-select-item .checkbox {
  margin-bottom: 1.125em;
}
.alert-select-item__name,
.alert-select-item__value {
  font-size: 1.875em;
  line-height: 1.2em;
  font-weight: 600;
}
.alert-select-item__setup {
  font-size: 0.875em;
  line-height: 1.285714285714286em;
  font-weight: 200;
  letter-spacing: 0.012em;
  display: inline-block;
  border-bottom: solid 1px;
  margin-top: 0.857142857142857em;
}
.alert-select-item__setup:hover {
  border: none;
  margin-bottom: 1px;
}
.phone-input__short {
  width: 3.5em;
  text-align: center;
}
.phone-input__long {
  width: 100%;
  text-align: center;
}
.phone-input .input-group__addon {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  padding: 0 0.25em;
}
.phone-input .input-group__addon:first-child {
  padding-left: 0;
}
.settings-contacts-form {
  padding: 1.875em 0 0.625em;
}
.settings-contacts-form__descr {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 200;
  max-width: 24em;
  margin-bottom: 1.4em;
}
.settings-contacts-form .form-group {
  padding-top: 0.625em;
}
.settings-contacts-form .text-input {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.1em 0;
}
.settings-contacts-form .form-help {
  font-size: 0.75em;
  line-height: 1.166666666666667em;
  font-weight: 200;
  text-transform: uppercase;
  color: #969495;
  margin-top: 1.5em;
}
.settings-contacts-form__resend {
  font-size: 0.875em;
  line-height: 1.142857142857143em;
  font-weight: 200;
  margin-top: 2.5em;
}
.settings-contacts-form__resend button {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px;
}
.settings-contacts-form__update {
  position: relative;
}
.settings-pass-form {
  padding: 1.875em 0 2.5em;
}
.settings-pass-form .form-group {
  padding-top: 0.625em;
  padding-bottom: 1.875em;
}
.settings-pass-form .text-input {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0.1em 0;
}
.update-notification {
  font-size: 1.125em;
  line-height: 1.222222222222222em;
  font-weight: 300;
  display: none;
  position: absolute;
  bottom: 4.444444444444445em;
}
.storage-slider-col {
  padding-right: 0;
}
.storage-full-info {
  background: #fff;
}
.storage-full-info h1 {
  font-size: 2.8125em;
  line-height: 1.2em;
  font-weight: 600;
  padding: 1.333333333333333em 0 0.444444444444444em;
}
.storage-full-info__address {
  font-size: 1.5625em;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.2em;
  margin-bottom: 1.6em;
}
.storage-full-info__distance {
  height: 10.25em;
  position: relative;
  margin-bottom: 1.875em;
  background: url("../images/icons/distance.svg") no-repeat;
  background-position: 0 47%;
}
.storage-full-info__distance__item {
  position: absolute;
  top: 0;
}
.storage-full-info__distance__item:last-child {
  top: auto;
  bottom: 0;
}
.storage-full-info__distance__item strong {
  font-size: 1.0625em;
  line-height: 1.176470588235294em;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.storage-full-info__distance__item small {
  font-size: 0.625em;
  line-height: 1.2em;
  font-weight: 200;
  text-transform: uppercase;
  display: block;
}
.storage-full-info__distance2 {
  margin-top: 0.875em;
  margin-bottom: 2.6875em;
}
.storage-full-info__distance2__item {
  font-size: 0.875em;
  line-height: 1.214285714285714em;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 0.857142857142857em;
}
.storage-full-info__distance2__item img {
  margin-right: 0.214285714285714em;
}
.storage-full-info__distance2__item strong {
  font-size: 1.571428571428571em;
  line-height: 1.090909090909091em;
  font-weight: 600;
}
.storage-full-info__photo {
  display: block;
}
.storage-full-info__bottom p {
  font-size: 1.25em;
  line-height: 1.2em;
  padding-top: 5.25em;
}
.storage-full-info__map-wrap {
  overflow: hidden;
  height: 22.5em;
}
.storage-full-info__map-wrap img {
  display: block;
  margin-top: -13.125em;
}
.storage-google-map iframe {
  display: block;
  width: 100%;
  height: 35em;
  border: 0;
}
.text-page {
  padding-top: 2.5em;
  padding-bottom: 5em;
}
.text-page p {
  margin-bottom: 1em;
  font-size: 1.25em;
  line-height: 1.25em;
}
.text-page h1,
.text-page h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.text-page h1:first-child,
.text-page h2:first-child {
  margin-top: 0;
}
.text-page h1 {
  font-size: 2.5em;
  line-height: 1.125em;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.text-page h2 {
  font-size: 2.1875em;
  line-height: 1.142857142857143em;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.text-page img {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}
.text-page .btn {
  margin-bottom: 1em;
}
.text-page ul,
.text-page ol {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 2em 0 2em 1.7em;
}
.text-page ul li,
.text-page ol li {
  margin-bottom: 1em;
}
.text-page ul li {
  position: relative;
}
.text-page ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  background: url("../images/icons/filled-correctly.svg");
  top: 0;
  left: -1.75em;
}
.text-page ol {
  margin-left: 0;
}
.text-page ol li {
  list-style: decimal outside;
  display: list-item;
}
.text-page .faq-toc {
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-in-out;
          transition: transform 0.2s 0.1s ease-in-out;
}
.text-page .faq-toc ul {
  margin: 0;
  max-width: 100%;
}
.text-page .faq-toc ul li {
  margin-bottom: 0.5em;
}
.text-page .faq-toc ul li:before {
  background: none;
}
