<% include ../parcel-form/hard-to-undentify %>
<br><br>

<% include ../parcel-form/type %>
<br><br>

<% if (PARCEL_FORM_INCOMPLETE) { %>
  <% include ../parcel-form/dimensions--incomplete %>
<% } else { %>
  <% include ../parcel-form/dimensions %>
<%} %>
<br><br>

<% include ../parcel-form/photos %>
<br><br>

<% include ../parcel-form/some %>
<br><br>

<% include ../parcel-form/from-to %>
<br><br>

<% include ../declaration-form %>
<br><br>

<div class="form-big-group">
  <div class="media">
    <div class="pull-left">
      <div class="sticker media-object">
        <img class="sticker__img" src="<%- staticUrl('images/samples/u420.jpg') %>">
        <div class="sticker__bottom clearfix">
          <p class="pull-left">Petrov</p>
          <p class="pull-right">EU</p>
        </div>
      </div>
    </div>
    <div class="media-body">
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary">
    <i class="fa fa-print"></i> <%- trans('Распечатать наклейку') %>
  </button>
</div>
<br><br>

<hr>
<div class="bottom-buffer">
  <% if (PARCEL_FORM_INCOMPLETE) { %>
    <button type="button" class="btn btn-warning">
      <%- trans('Сохранить и запросить недостающие данные у клиента') %>
    </button>
  <% } else { %>
    <button type="button" class="btn btn-primary">
      <%- trans('Сохранить') %>
    </button>
  <%} %>
  <button type="button" class="btn btn-default">
    <%- trans('Отмена') %>
  </button>
</div>
<br><br>
