<table class="table table-condensed sorted-table">
  <thead>
    <tr>
      <th class="sorted-asc"><%- trans('Сьют') %></th>
      <th><%- trans('Фамилия и имя') %></th>
      <th><%- trans('Номер посылки') %></th>
      <th><%- trans('Трекинг') %></th>
      <th><%- trans('На складе с') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel--no-suite') %>">E3950193</a>
      </td>
      <td>
        —
      </td>
      <td>
        —
      </td>
      <td>1Z6R646E0319744877</td>
      <td>13.06.2014 11:35</td>
    </tr>
  </tbody>
</table>
