

<div class="footer__wrap">
<% include headers/empty %>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <ul class="footer__menu">
          <li><a href="#TODO"><%- trans('О нас') %></a></li>
          <li><a href="#TODO"><%- trans('Часто задаваемые вопросы') %></a></li>
          <li><a href="#TODO"><%- trans('Задать вопрос') %></a></li>
        </ul>
        <ul class="footer__social">
          <li><a href="#TODO"><img src="<%- staticUrl('images/icons/cir-vk.svg') %>"></a></li>
          <li><a href="#TODO"><img src="<%- staticUrl('images/icons/cir-odnoklassniki.svg') %>"></a></li>
          <li><a href="#TODO"><img src="<%- staticUrl('images/icons/cir-facebook.svg') %>"></a></li>
        </ul>
      </div>
      <div class="col-2"></div>
      <div class="col-2 footer__contacts">
        <h4><%- trans('Вы можете связаться<br>с нами в любой момент') %></h4>
        <p class="footer__contacts__email">
          <a href="mailto:hello@pochta.fi">hello@pochta.fi</a>
        </p>
        <p class="footer__contacts__phone">
          <a href="tel:+7921235235">
            +7 921 235 235
            <small><%- trans('Россия') %></small>
          </a>
        </p>
        <p class="footer__contacts__phone">
          <a href="tel:+35809172881">
            +358 09 172 881
            <small><%- trans('Finland') %></small>
          </a>
        </p>
      </div>
      <div class="col-2 footer__storages">
        <h4><%- trans('Адреса наших отделений<br>в Финляндии') %></h4>
        <ul>
          <li>
            <a href="#TODO">
              <%- trans('Vaalimaa') %>
              <span class="footer__storages__name"><%- trans('Торфяновка') %></span>
            </a>
          </li>
          <li>
            <a href="#TODO">
              <%- trans('Nuijamaa') %>
              <span class="footer__storages__name"><%- trans('Брусничное') %></span>
            </a>
          </li>
          <li>
            <a href="#TODO">
              <%- trans('Imatra') %>
              <span class="footer__storages__name"><%- trans('Светогорск') %></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row footer__bottom">
      <div class="col-7">
        <span><%- trans('© pochta.fi — 2014') %></span>
      </div>
      <div class="col-2">
        <a href="http://whitescape.com" target="_blank"><%- trans('by Whitescape') %></a>
      </div>
    </div>
  </div>
</div>
</div>


