<?php
    $token = Mage::app()->getRequest()->getParam('token');
    $creditCard = $this->creditCard();
?>
<div class="page-title">
    <h1><?php echo $this->__('Delete Credit Card') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getDeleteConfirmUrl() ?>" method="post" id="delete-form">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Please confirm that you want to delete this credit card') ?></h2>
        <ul class="form-list">
            <li>
                <b><?php echo $this->__('Credit Card Number');?></b>
            </li>
            <li>
                <?php echo $creditCard->maskedNumber;?>
            </li>
            <li>
                <b><?php echo $this->__('Expiration Date');?></b>
            </li>
            <li>
                <?php echo $creditCard->expirationDate; ?>
            </li>
            <li>
                <b><?php echo $this->__('Cardholder Name');?></b>
            </li>
            <li>
                <?php echo $creditCard->cardholderName;?>
            </li>
        </ul>
    </div>
    <input type="hidden" name="token" value="<?php echo $token ?>">
    <div class="buttons-set">
        <button type="submit" class="button" title="<?php echo $this->__('Delete') ?>"><span><span><?php echo $this->__('Delete') ?></span></span></button>
        <p class="back-link"><a href="<?php echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>    
</form>
