<% var TITLE = trans('Акты') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% var ACT_NAME = trans('О вскрытии посылки  #134') %>
<% include includes/inventory/act-header %>

<div class="container">
  <% include includes/inventory/act-info %>
  <br>
  <% include includes/storage/parcel-list-alt-3 %>
  <% include includes/pagination %>
</div>

<% include includes/layout/outro %>

