<% var TITLE = trans('Акты') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>


<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a role="tab" data-toggle="tab" href="#tab-acceptance"><%- trans('О приемке') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-parcels"><%- trans('Об инвентаризации') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-transit"><%- trans('О перемещении') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-new"><%- trans('О регистрации незарегистрированных посылок') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-unidentified"><%- trans('О регистрации неопознаваемых посылок') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-found"><%- trans('О найденных посылках') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-written-off"><%- trans('О списании') %></a></li>
    <li><a role="tab" data-toggle="tab" href="#tab-opened"><%- trans('О вскрытии посылки') %></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="tab-acceptance">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--acceptance') %>">
            <td>734</td>
            <td>21</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--acceptance') %>">
            <td>322</td>
            <td>15</td>
            <td>15.03.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--acceptance') %>">
            <td>214</td>
            <td>12</td>
            <td>09.02.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--acceptance') %>">
            <td>104</td>
            <td>16</td>
            <td>08.02.2014</td>
            <td>Kuznetsov Maxim</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-parcels">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--parcels') %>">
            <td>564</td>
            <td>20</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--parcels') %>">
            <td>554</td>
            <td>23</td>
            <td>10.04.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--parcels') %>">
            <td>542</td>
            <td>15</td>
            <td>15.03.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-transit">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--transit') %>">
            <td>555</td>
            <td>4</td>
            <td>10.04.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-new">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--new') %>">
            <td>566</td>
            <td>8</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--new') %>">
            <td>556</td>
            <td>2</td>
            <td>10.04.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-unidentified">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--unidentified') %>">
            <td>567</td>
            <td>6</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--unidentified') %>">
            <td>557</td>
            <td>1</td>
            <td>10.04.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-found">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--found') %>">
            <td>568</td>
            <td>5</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--found') %>">
            <td>558</td>
            <td>3</td>
            <td>10.04.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-written-off">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--written-off') %>">
            <td>569</td>
            <td>2</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--written-off') %>">
            <td>559</td>
            <td>7</td>
            <td>10.04.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab-opened">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th><%- trans('ID') %></th>
            <th><%- trans('Кол-во посылок') %></th>
            <th><%- trans('Дата') %></th>
            <th><%- trans('Ответственный') %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-tr-link="<%- pageUrl('inventory--act--opened') %>">
            <td>734</td>
            <td>21</td>
            <td>12.05.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
          <tr data-tr-link="<%- pageUrl('inventory--act--opened') %>">
            <td>322</td>
            <td>15</td>
            <td>15.03.2014</td>
            <td>Nikolaev Denis</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <% include includes/pagination %>

</div>

<% include includes/layout/outro %>

