<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% include includes/inventory/unidentified-header %>


<div class="container">

  <h3>
    <div class="btn-group pull-right">
      <a href="<%- pageUrl('inventory--unregistered-1') %>" type="button" class="btn btn-primary"><%- trans('Да') %></a>
      <div type="button" class="btn btn-primary active"><%- trans('Нет') %></div>
    </div>
    <%- trans('На посылке присутствует штрихкод почтовой службы') %>
  </h3>
  <hr>
  <br>

  <div class="alert alert-info">
    <%- trans('Сделайте фотографии посылки и накладной. Убедитесь, что вся информация на фотографиях хорошо читаема.') %><br>
    <strong><%- trans('Фотография посылки обязательна.') %></strong>
  </div>

  <% include includes/parcel-form/photos--empty %>

  <form action="<%- pageUrl('inventory-unidentified-2') %>">
    <input type="submit" class="btn btn-primary" disabled value="<%- trans('Продолжить') %>" id="submit-btn-1">
  </form>


</div>


<script type="text/javascript">
  $('#parcel-photos').change(function(e, count) {
    $('#submit-btn-1').prop('disabled', count == 0);
  });
</script>



<% include includes/layout/outro %>
