<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Клиент запросил дополнительные фотографии') %></h3>
    </div>
    <div class="panel-body">

      <p><%- trans('Вскройте посылку и сделайте подробные фотографии её содержимого.') %></p>
      <br>

      <div class="form-group">
        <label class="control-label"><%- trans('Фотографии посылки') %></label>
        <div data-photos-widget="<%- staticUrl('images/samples/unboxing/1.jpg') %>,<%- staticUrl('images/samples/unboxing/2.jpg') %>,<%- staticUrl('images/samples/unboxing/3.jpg') %>,<%- staticUrl('images/samples/unboxing/4.jpg') %>,<%- staticUrl('images/samples/unboxing/5.jpg') %>,<%- staticUrl('images/samples/unboxing/6.jpg') %>" data-count="0" id="parcel-photos"></div>
      </div>

      <br>
      <form action="<%- pageUrl('storage-parcel') %>">
        <button class="btn btn-primary" disabled id="submit-btn-1"><%- trans('Закрыть проблему') %></button>
      </form>

    </div>
  </div>

  <script type="text/javascript">
    $('#parcel-photos').on('change', function(e, count) {
      $('#submit-btn-1').prop('disabled', count == 0);
    });
  </script>

  <% include includes/issues/item-bottom %>


</div>



<% include includes/layout/outro %>
