<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Посылку необходимо вернуть') %></h3>
    </div>
    <div class="panel-body">

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Возвратный номер') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">45766</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Длина') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">564 мм</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Ширина') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">556 мм</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Высота') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">65 мм</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Вес') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">1,4 кг</p>
          </div>
        </div>
      </div>

      <hr>

      <p><%- trans('Посчитайте стоимость отправки и введите ее в поле ниже.') %></p>

      <form class="form-horizontal" action="<%- pageUrl('issues--item--return--not-prepaid-2') %>">
        <div class="form-group">
          <label for="tmp-id-41" class="col-sm-2 control-label"><%- trans('Стоимость обратной отправки') %></label>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" class="form-control" id="tmp-id-41">
              <span class="input-group-addon">€</span>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="form-control-static"> <%- trans('+ 5 € за услугу') %></p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="return-form-submit-1"><%- trans('Отправить') %></button>
          </div>
        </div>
      </form>


    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>



<% include includes/layout/outro %>
