<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Клиент хочет вскрыть посылку') %></h3>
    </div>
    <div class="panel-body">

      <p>
        <%- trans('Необходимо вскрыть посылку, сделать фотографии и описать повреждения (если есть).') %>
      </p>

      <div class="form-group">
        <label class="control-label"><%- trans('Фотографии посылки') %></label>
        <div data-photos-widget="<%- staticUrl('images/samples/unboxing/1.jpg') %>,<%- staticUrl('images/samples/unboxing/2.jpg') %>,<%- staticUrl('images/samples/unboxing/3.jpg') %>,<%- staticUrl('images/samples/unboxing/4.jpg') %>,<%- staticUrl('images/samples/unboxing/5.jpg') %>,<%- staticUrl('images/samples/unboxing/6.jpg') %>" data-count="0" id="parcel-photos"></div>
      </div>

      <div class="form-group">
        <label for="tmp-id-100" class="control-label"><%- trans('Комментарий') %></label>
        <textarea class="form-control" rows="3" id="tmp-id-100"></textarea>
      </div>

      <div>
        <button class="btn btn-primary" disabled id="continue-btn-1"><%- trans('Отправить') %></button>
      </div>

    </div>
    <div class="panel-body" style="display:none">
      <p><%- trans('Ожидание ответа клиента ...') %></p>
    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>

<script type="text/javascript">

  (function(){

    function updateDisabled() {
      $('#continue-btn-1').prop('disabled', !$('#tmp-id-100').val() || $('#parcel-photos').data('count') == 0);
    }
    $('#parcel-photos').on('change', updateDisabled);
    $('#tmp-id-100').on('change keyup', updateDisabled);

    $('#continue-btn-1').click(function(){
      $(this).parents('.panel-body').hide().next().show();
    });


  }());
</script>



<% include includes/layout/outro %>
