<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Посылку необходимо вернуть') %></h3>
    </div>
    <div class="panel-body">

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Возвратный номер') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">45766</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Длина') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">564 <%- trans('мм') %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Ширина') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">556 <%- trans('мм') %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Высота') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">65 <%- trans('мм') %></p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Вес') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">1,4 <%- trans('кг') %></p>
          </div>
        </div>
      </div>

      <hr>

      <p><%- trans('Посчитайте стоимость отправки и введите ее в поле ниже.') %></p>

      <form class="form-horizontal" action="<%- pageUrl('issues--item--return--not-prepaid-2') %>">
        <div class="form-group">
          <label for="tmp-id-41" class="col-sm-2 control-label"><%- trans('Стоимость обратной отправки') %></label>
          <div class="col-sm-4">
            <div class="input-group">
              <p class="form-control-static">20 €</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <p><strong class="text-success"><%- trans('Оплачено') %></strong></p>
          </div>
        </div>
      </form>

      <hr>

      <p><%- trans('После отправки посылки прикрепите квитанцию, введите трекинг номер и закройте проблему.') %></p>

      <form class="form-horizontal" action="<%- pageUrl('storage-parcel') %>">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Квитанция об уплате отправки') %></label>
          <div class="col-sm-6">
            <div data-photos-widget="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>,<%- staticUrl('images/samples/doc-photos/u448.jpg') %>,<%- staticUrl('images/samples/doc-photos/u456.jpg') %>" data-count="0" id="photos-1"></div>
          </div>
        </div>
        <div class="form-group">
          <label for="tmp-id-31" class="col-sm-2 control-label"><%- trans('Трекинг номер') %></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="tmp-id-31">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" disabled id="return-form-submit-1"><%- trans('Закрыть проблему') %></button>
          </div>
        </div>
      </form>


    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>

<script type="text/javascript">
  (function(){
    function update() {
      debugger
      $('#return-form-submit-1').prop('disabled', !$('#tmp-id-31').val() || !hasFile);
    }
    var hasFile = false;

    $('#photos-1').on('change', function(e, count) {
      hasFile = (count != 0);
      update();
    });

    $('#tmp-id-31').on('change keyup', update);
  }());
</script>

<script type="text/javascript">

</script>



<% include includes/layout/outro %>
