<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('При инвентаризации обнаружились серьезные повреждения') %></h3>
    </div>
    <div class="panel-body">

      <p>
        <%- trans('Необходимо вскрыть посылку. Проверить целостность содержимого, сделать фотографии и подготовить описание.') %>
      </p>

      <div class="form-group">
        <label class="control-label"><%- trans('Фотографии посылки') %></label>
        <div data-photos-widget="<%- staticUrl('images/samples/unboxing/1.jpg') %>,<%- staticUrl('images/samples/unboxing/2.jpg') %>,<%- staticUrl('images/samples/unboxing/3.jpg') %>,<%- staticUrl('images/samples/unboxing/4.jpg') %>,<%- staticUrl('images/samples/unboxing/5.jpg') %>,<%- staticUrl('images/samples/unboxing/6.jpg') %>" data-count="0" id="parcel-photos"></div>
      </div>

      <div class="form-group">
        <label for="tmp-id-100" class="control-label"><%- trans('Описание') %></label>
        <textarea class="form-control" rows="3" id="tmp-id-100"></textarea>
      </div>

      <div class="form-group">
        <label for="tmp-id-101" class="control-label"><%- trans('Заключение') %></label>
        <textarea class="form-control" rows="3" id="tmp-id-101"></textarea>
      </div>

      <p><%- trans('Если содержимое не повреждено упакуйте посылку заново и отметье её готовой к выдаче.') %></p>

      <div>
        <a href="<%- pageUrl('storage-parcel') %>" class="btn btn-primary"><%- trans('К выдаче') %></a>
        <button class="btn btn-danger" id="continue-btn-1"><%- trans('Компенсировать стоимость') %></button>
      </div>

    </div>
    <div class="panel-body" style="display:none">
      <p><%- trans('Свяжитесь с клиентом для осуществения компенсации поврежденных предметов.') %></p>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Имя') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">Oleg</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Фамилия') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">Petrov</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Телефон') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">+71234567890</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Почта') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">oleg-petrov@example.com</p>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/u366.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/u366.jpg') %>">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/u366.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/u366.jpg') %>">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/u366.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/u366.jpg') %>">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/unboxing/2.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/unboxing/2.jpg') %>">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/unboxing/3.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/unboxing/3.jpg') %>">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/unboxing/4.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/unboxing/4.jpg') %>">
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="<%- staticUrl('images/samples/unboxing/5.jpg') %>" data-lightbox="parcel-damaged-photos" class="thumbnail">
            <img src="<%- staticUrl('images/samples/unboxing/5.jpg') %>">
          </a>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label"><%- trans('Описание') %></label>
        <p class="form-control-static">
          <%- trans('Угол упаковки помят. Предположительно следствие удара.') %>
        </p>
      </div>

      <div class="form-group">
        <label class="control-label"><%- trans('Заключение') %></label>
        <p class="form-control-static">
          <%- trans('Выявлено наличие повреждений у наушников и керамической фигурки.') %>
        </p>
      </div>

      <hr>
      <a href="<%- pageUrl('storage-parcel') %>" class="btn btn-primary"><%- trans('Закрыть проблему') %></a>
    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>

<script type="text/javascript">
  (function(){
    $('#continue-btn-1').click(function(){
      $(this).parents('.panel-body').hide().next().show();
    });
  }());
</script>



<% include includes/layout/outro %>
