<% var TITLE = trans('История') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>


<div class="container">

  <div class="well">

    <div class="form-horizontal">

      <div class="form-group">
        <label for="tmp-id-1" class="col-sm-2 control-label"><%- trans('Дата') %></label>
        <div class="col-md-6 col-sm-7">
          <div class="input-group">
            <input type="date" class="form-control" id="tmp-id-1">
            <span class="input-group-addon">—</span>
            <input type="date" class="form-control" id="tmp-id-2">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="tmp-id-3" class="col-sm-2 control-label">Тип</label>
        <div class="col-md-6 col-sm-7">
          <select class="form-control" id="tmp-id-3">
            <option><%- trans('Любой') %></option>
            <option><%- trans('Принята') %></option>
            <option><%- trans('Выдана') %></option>
            <option><%- trans('Выдана по доверенности') %></option>
            <option><%- trans('Изменена информации о посылке') %></option>
            <option><%- trans('Перемещена в недооформленные') %></option>
            <option><%- trans('Запрошены данные у пользователя') %></option>
            <option><%- trans('Перемещена в неопознанные') %></option>
            <option><%- trans('Перемещена в потерянные') %></option>
            <option><%- trans('Поставлена в очередь на перемещение') %></option>
            <option><%- trans('Перемещана в списанные') %></option>
            <option><%- trans('Перемещена в оценку стоимости обратной отправки') %></option>
            <option><%- trans('Перемещена в список ожидания оплаты') %></option>
            <option><%- trans('Отправлена обратно') %></option>
            <option><%- trans('Перемещена в список на отправку обратно') %></option>
            <option><%- trans('Перемещена на склад') %></option>
            <option><%- trans('Найдена') %></option>
            <option><%- trans('Передана экпедитору для перемещения') %></option>
            <option><%- trans('Акт о приемке') %></option>
            <option><%- trans('Акт об инвентаризации') %></option>
            <option><%- trans('Акт о перемещении') %></option>
            <option><%- trans('Акт о регистрации опознаваемых посылок') %></option>
            <option><%- trans('Акт о регистрации неопознаваемых посылок') %></option>
            <option><%- trans('Акт о найденных посылках') %></option>
            <option><%- trans('Акт о списании') %></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="tmp-id-4" class="col-sm-2 control-label"><%- trans('Поиск') %></label>
        <div class="col-md-6 col-sm-7">
          <input type="text" class="form-control" id="tmp-id-4" value="176691">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary"><%- trans('Применить') %></button>
        </div>
      </div>
    </div>

  </div>

  <br>

  <%
    function randR(from, to) {
      return Math.floor(Math.random() * (to - from + 1)) + from;
    }
    function randD(from, to) {
      var r = randR(from, to);
      return r < 10 ? '0' + r : r;
    }
    function randN(n) {
      return Math.round(Math.pow(10, n) - Math.random() * Math.pow(10, n - 1) - Math.pow(10, n - 1) * 8);
    }
    function randI(arr) {
      return arr[Math.floor(Math.random() * arr.length)];
    }

    function randomRow() {
      var suite = 17102;
      var client = 'Petrov Oleg';
      var parcelNumber = 'P8177413';
      var time = randD(1, 30) + '.' + randD(1, 12) + '.' + randD(2013, 2014) + ' ' + randD(8, 21) + ':' + randD(1, 59);
      var worker = randI(['Kuznetsov Maxim', 'Nikolaev Denis', 'Potapova Ekaterina']);
      var action = randI([
        'Принята',
        'Выдана',
        'Выдана по доверенности',
        'Изменена информации о посылке',
        'Перемещена в недооформленные',
        'Запрошены данные у пользователя',
        'Перемещена в неопознанные',
        'Перемещена в потерянные',
        'Поставлена в очередь на перемещение',
        'Перемещана в списанные',
        'Перемещена в оценку стоимости обратной отправки',
        'Перемещена в список ожидания оплаты',
        'Отправлена обратно',
        'Перемещена в список на отправку обратно',
        'Перемещена на склад',
        'Найдена',
        'Передана экпедитору для перемещения',
        'Акт о приемке',
        'Акт об инвентаризации',
        'Акт о перемещении',
        'Акт о регистрации опознаваемых посылок',
        'Акт о регистрации неопознаваемых посылок',
        'Акт о найденных посылках',
        'Акт о списании'
      ]);

      var actLink = {
        'Акт о приемке': 'inventory--act--acceptance',
        'Акт об инвентаризации': 'inventory--act--parcels',
        'Акт о перемещении': 'inventory--act--transit',
        'Акт о регистрации опознаваемых посылок': 'inventory--act--new',
        'Акт о регистрации неопознаваемых посылок': 'inventory--act--unidentified',
        'Акт о найденных посылках': 'inventory--act--found',
        'Акт о списании': 'inventory--act--written-off'
      }

      if (action.indexOf('Акт') === 0) { %>
        <tr>
          <td><%- trans(action) %></td>
          <td><a href="<%- pageUrl(actLink[action]) %>"><%= randR(5, 15) %> <%- trans('посылок') %></a></td>
          <td>—</td>
          <td>—</td>
          <td><%= time %></td>
          <td><%= worker %></td>
        </tr>
      <% } else { %>
        <tr>
          <td><%= action %></td>
          <td><a href="<%- pageUrl('storage-parcel') %>"><%= parcelNumber %></a></td>
          <td><a href="<%- pageUrl('storage-suite') %>"><%= suite %></a></td>
          <td><a href="<%- pageUrl('storage-suite') %>"><%= client %></a></td>
          <td><%= time %></td>
          <td><%= worker %></td>
        </tr>
      <% }

    }
  %>

  <table class="table table-condensed sorted-table">
    <thead>
      <tr>
        <th class="sorted-asc"><%- trans('Действие') %></th>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Cьют') %></th>
        <th><%- trans('Клиент') %></th>
        <th><%- trans('Время') %></th>
        <th><%- trans('Сотрудник') %></th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 5; i >= 0; i--) { randomRow() } %>
    </tbody>
  </table>

  <% include includes/pagination %>

</div>

<% include includes/layout/outro %>
