<% var TITLE = trans('Сьюты') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><%- trans('Назад') %></a></li>
      </ul>
    </div>

  </div>
</nav>



<div class="container">

  <% include includes/search %>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер') %></th>
        <th><%- trans('Клиент') %></th>
        <th><%- trans('Посылок на складе') %></th>
        <th><%- trans('Посылок полученых') %></th>
        <th><%- trans('Проблемы') %></th>
      </tr>
    </thead>
    <tbody>
      <tr data-tr-link="<%- pageUrl('storage-suite') %>">
        <td>432567</td>
        <td>Oleg Petrov</td>
        <td>4</td>
        <td>2</td>
        <td class="text-success"><i class="fa fa-check"></i> <%- trans('нет') %></td>
      </tr>
      <tr data-tr-link="<%- pageUrl('storage-suite') %>">
        <td>831562</td>
        <td>Eroshina Elena</td>
        <td>0</td>
        <td>8</td>
        <td class="text-success"><i class="fa fa-check"></i> <%- trans('нет') %></td>
      </tr>
      <tr data-tr-link="<%- pageUrl('storage-suite') %>">
        <td>302513</td>
        <td>Pushkin Dmitriy</td>
        <td>3</td>
        <td>4</td>
        <td class="text-danger"><i class="fa fa-times-circle"></i> 2 <%- trans('проблемы') %></td>
      </tr>
    </tbody>
  </table>

  <% include includes/pagination %>

</div>


<% include includes/layout/outro %>
