clearfix()
  &:after, &:before
    content " "
    display table
  &:after
    clear both


placeholder()
  ::placeholder
    {block}
  .placeholder
    {block}


setFont(fontSize, lineHeight, fontWidth = null, letterSpacing = null, fontStyle = null)
  font-size (fontSize) px
  line-height (lineHeight) px
  if fontWidth
    font-weight fontWidth
  if letterSpacing
    letter-spacing (letterSpacing / 1000) em
  if fontStyle
    font-style fontStyle


ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

