<?php

$parcel_id = Mage::registry('parcel_id');

$custom_id = Mage::registry('custom_id');

/** @var $_product Mage_Catalog_Model_Product */
$custom = Mage::getModel('catalog/product');
if ($custom_id != null) {
    $custom->load($custom_id);
}

$customObj = $custom->getCsBody() ? new SimpleXMLElement($custom->getCsBody()) : null;
$customObj = $customObj != null ? $customObj->children('ncts', true) : null; //new stdClass();

?>


<div class="container">

<form action="<?php echo $this->getUrl('pochta/custom/postPrepareFITDEC') ?>" method="post" >

<input type="hidden" name="parcel_id" id="parcel_id" value="<?php echo $parcel_id ?>" >

<div class="form-horizontal">
    <div class="form-group">
        <label for="cs_transit_destination_office" class="col-sm-2 control-label"><?php echo $this->__("Transit Destination Office") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="cs_transit_destination_office" name="cs_transit_destination_office" value="<?php echo (string)$customObj->Declaration->TransitDestinationOffice->CustomsOfficeCode ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="cs_transit_limit_date" class="col-sm-2 control-label"><?php echo $this->__("Transit Limit Date") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="cs_transit_limit_date" name="cs_transit_limit_date" value="<?php echo (string)$customObj->Declaration->TransitLimitDate ?>">
        </div>
    </div>

</div>

<br><br>

<div class="form-horizontal">
    <div class="form-group">
        <label for="carrier_name_first" class="col-sm-2 control-label"><?php echo $this->__("Перевозчик/Имя экспедитора") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="carrier_name_first" name="carrier_name_first" value="<?php echo (string)$customObj->Declaration->Consignee->Name ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="carrier_name_last" class="col-sm-2 control-label"><?php echo $this->__("Фамилия экспедитора") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="carrier_name_last" name="carrier_name_last" value="<?php echo (string)$customObj->Declaration->Consignee->Name ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="consignee_address_line" class="col-sm-2 control-label"><?php echo $this->__("Адрес") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignee_address_line" name="consignee_address_line" value="<?php echo (string)$customObj->Declaration->Consignee->Address->Line ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="consignee_address_city" class="col-sm-2 control-label"><?php echo $this->__("Город") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignee_address_city" name="consignee_address_city" value="<?php echo (string)$customObj->Declaration->Consignee->Address->CityName ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="consignee_address_country" class="col-sm-2 control-label"><?php echo $this->__("Страна") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignee_address_country" name="consignee_address_country" value="<?php echo (string)$customObj->Declaration->Consignee->Address->CountryCode ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="consignee_address_postcode" class="col-sm-2 control-label"><?php echo $this->__("Индекс") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="consignee_address_postcode" name="consignee_address_postcode" value="<?php echo (string)$customObj->Declaration->Consignee->Address->PostcodeID ?>">
        </div>
    </div>
</div>

<br><br>

<div class="form-horizontal">
    <div class="form-group">
        <label for="transport_mode_code" class="col-sm-2 control-label"><?php echo $this->__("Тип машины") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="transport_mode_code" name="transport_mode_code" value="<?php echo (string)$customObj->Declaration->DepartureTransportMeans->TransportModeCode ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="transport_nationality_code" class="col-sm-2 control-label"><?php echo $this->__("Гос. регистрация") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="transport_nationality_code" name="transport_nationality_code" value="<?php echo (string)$customObj->Declaration->DepartureTransportMeans->TransportMeansNationalityCode ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="transport_means_id" class="col-sm-2 control-label"><?php echo $this->__("Номер машины") ?> *</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="transport_means_id" name="transport_means_id" value="<?php echo (string)$customObj->Declaration->DepartureTransportMeans->TransportMeansID ?>">
        </div>
    </div>

    <div class="form-group">
        <label for="conveyance_reference_id" class="col-sm-2 control-label"><?php echo $this->__("Номер передачи") ?></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="conveyance_reference_id" name="conveyance_reference_id" value="<?php echo (string)$customObj->Declaration->DepartureTransportMeans->ConveyanceReferenceID ?>">
        </div>
    </div>
</div>

<br><br>

<div class="form-horizontal">
    <div class="form-group">
        <label for="comment" class="col-sm-2 control-label"><?php echo $this->__("Комментарии") ?></label>
        <div class="col-sm-4">
            <textarea class="form-control" id="comment" name="comment"><?php //echo $custom->getComment() ?></textarea>
        </div>
    </div>
</div>


<hr>
<div class="bottom-buffer">

    <button type="submit" class="btn btn-primary">
        <?php echo $this->__("Build FITDEC") ?>
    </button>

    <button type="button" class="btn btn-default">
        <?php echo $this->__("Back") ?>
    </button>
</div>
<br><br>

</form>

</div>