<?php
/** @var $_productCollection Mage_Catalog_Model_Resource_Product_Collection */
$_productCollection = Mage::getModel('catalog/product')->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('type_id', 'virtual')
    ->addAttributeToFilter('attribute_set_id', Mage::registry('attr_set_id_declaration'))
//    ->addAttributeToFilter('status', 1)
//    ->addAttributeToFilter('visibility', 4)
    ->setOrder('date', 'ASC');

?>

<?php $response = Mage::getSingleton('core/session')->getCustomResponse(); ?>
<?php if ($response) : ?>
<script type="application/javascript">
    alert("<?php echo $response ?>");
</script>
    <?php Mage::getSingleton('core/session')->unsCustomResponse(); ?>
<?php endif; ?>

<div class="container">

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab-main">
            <br/>

            <form role="form" class="bottom-buffer">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="search" class="form-control" placeholder="<?php echo $this->__("Поиск") ?>">
                    </div>
                </div>
            </form>

            <form method="post" action="/pochta/custom/renewStatusPost">
                <input type="hidden" id="renewType" name="renewType" value="ALL">

                <input type="date" id="startDate" name="startDate" value="<?php echo date('Y-m-d', strtotime("-2 days")) ?>">
                <input type="date" id="endDate" name="endDate" value="<?php echo date('Y-m-d') ?>">

                <button type="submit" class="btn btn-primary" onclick="$('#renewType').val('ALL')">
                    <?php echo $this->__("Обновить Всё") ?>
                </button>

                <button type="submit" class="btn btn-primary"  onclick="$('#renewType').val('NEW')">
                    <?php echo $this->__("Обновить Новые") ?>
                </button>
            </form>

            <br/>
            <br/>

            <table class="table table-condensed sorted-table" id="parcels">
                <thead>
                <tr>
                    <th><?php echo $this->__("Name") ?></th>
                    <th><?php echo $this->__("Control Reference ID") ?></th>
                    <th><?php echo $this->__("Message Storage ID") ?></th>
                    <th class="sorted-asc"><?php echo $this->__("Date") ?></th>
                    <th><?php echo $this->__("Movement Reference Number") ?></th>
                    <th><?php echo $this->__("Reserved Amount") ?></th>
                    <th><?php echo $this->__("Download") ?></th>
                </tr>
                </thead>
                <tbody>

                <?php $folderName = Mage::getBaseDir('media').DS.'product_custom_files'; ?>
                <?php foreach ($_productCollection as $product): ?>
                    <?php
                    $xmlObj = $product->getCsBody() != '' ? new SimpleXMLElement($product->getCsBody()) : new stdClass();
                    ?>
                    <tr id="<?php echo $product->getSku() ?>" class="parcel_item">
                        <td>
                            <a href="<?php echo '/pochta/custom/view/id/' . $product->getId() ?>"><?php echo $product->getName() ?></a>
                        </td>
                        <td>
                            <a href="<?php echo '/pochta/custom/view/id/' . $product->getId() ?>"><?php echo $product->getCsControlReferenceId() ?></a>
                        </td>
                        <td>
                            <a href="<?php echo '/pochta/custom/view/id/' . $product->getId() ?>"><?php echo $product->getCsMessageStorageId() ?></a>
                        </td>
                        <td><?php echo $product->getDate() ?></td>
                        <td><?php echo $product->getCsMrn() ?></td>
                        <td><?php echo $xmlObj->Release->Guarantee->ReservationAmount ?></td>
                        <td>
                            <?php if (file_exists($folderName . DS . $product->getSku() . '.zip')): ?>
                            <a href="<?php echo '/media/product_custom_files/' . $product->getSku() . '.zip' ?>"><?php echo $this->__("Download") ?></a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

        </div>

    </div>


</div>