.header
  background #ff592e
  clearfix()
  &__left
    float left
  &__right
    float right
  &__logo
    display block
    height 50px
    padding-top 13px
    img
      display block
      width 103px
      height 23px

  &-lang
    margin-right -8px
    clearfix()
    li
      float left
      width 44px
    a, span
      setFont(20, 24, 600)
      display block
      height 50px
      text-align center
      color #ffffff
      padding-top 15px
    .active span
      background #ffffff
      color #ff592e


