<div class="landing-oauth">
	<p class="call-to-act__descr"><?php echo $this->__('или регистрируйтесь с помощью') ?></p>
	<ul class="row-sub-3">
		<li class="col-1 landing-oauth__vk">
			<a href="<?php echo $current_url?>?login=Vkontakte" class="landing-oauth__btn"><?php echo $this->__('Вконтакте') ?></a>
		</li>
		<li class="col-1 landing-oauth__odnoklassniki">
			<a href="<?php echo $current_url?>?login=Odnoklassniki" class="landing-oauth__btn"><?php echo $this->__('Одноклассники') ?></a>
		</li>
		<li class="col-1 landing-oauth__facebook">
			<a href="<?php echo $current_url?>?login=Facebook" class="landing-oauth__btn"><?php echo $this->__('Facebook') ?></a>
		</li>
	</ul>
</div>