    <!-- С возвращенной пошлиной -->
    <div class="parcel-info">
      <div class="container">
        <h4>3F6Y646G4819799328</h4>
        <div class="row">
          <div class="col-3">
            <span class="parcel-info__label"><%- trans('Выдана') %></span>
            <span class="parcel-info__value">18:00<br>22 октября 2015</span>
          </div>
          <div class="col-2">
            <span class="parcel-info__label"><%- trans('Пункт выдачи') %></span>
            <span class="parcel-info__value">Nuijamaa<br>Брусничное</span>
          </div>
          <div class="col-2">
            <span class="parcel-info__label"><%- trans('Довереность') %></span>
            <span class="parcel-info__value">Эрна Кугаппи</span>
          </div>
          <div class="col-2">
            <span class="parcel-info__label"><span class="icon icon-ok"></span></span>
            <span class="parcel-info__value">
              <%- trans('Поздравляем,<br>вы сэкономили') %><br>
              <strong>€ 150</strong>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <a href="#TODO" class="btn btn-block btn-link"><span><%- trans('Подробнее о посылке') %></span></a>
          </div>
          <div class="col-2">
          </div>
          <div class="col-2">
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    </div>
