<% include _inc/layout/intro %>

<% include _inc/headers/dashboard %>



<div class="address-info">
  <div class="container">
    <h2><%- trans('Ваши адреса для покупок:') %></h2>
    <div class="address-info__tab-wrap">
      <h3><%- trans('Для заказов из любой страны') %></h3>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('Address') %></span>
        <span class="col-7 address-info__prop__value">
          Kuoma Helsingintie 39 Suite 31337
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="Kuoma Helsingintie 39 Suite 31337"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать адрес') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('City') %></span>
        <span class="col-7 address-info__prop__value">
          Imatra
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="Imatra"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать город') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('Zip code') %></span>
        <span class="col-7 address-info__prop__value">
          155100
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="155100"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать индекс') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('Country') %></span>
        <span class="col-7 address-info__prop__value">
          FINLAND
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="FINLAND"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать страну') %></button>
        </span>
      </div>
    </div>
    <div class="address-info__tab-wrap">
      <h3><%- trans('Для заказов из США и Канады') %></h3>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('Address') %></span>
        <span class="col-7 address-info__prop__value">
          Pochta.fi, 8912 NE Alderwood Road, Suite 31337
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="Pochta.fi, 8912 NE Alderwood Road, Suite 31337"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать адрес') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('State') %></span>
        <span class="col-7 address-info__prop__value">
          Oregon
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="Oregon"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать штат') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('City') %></span>
        <span class="col-7 address-info__prop__value">
          Portland, OR
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="Portland, OR"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать город') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('Zip code') %></span>
        <span class="col-7 address-info__prop__value">
          97220
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="97220"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать индекс') %></button>
        </span>
      </div>
      <div class="row address-info__prop">
        <span class="col-1 address-info__prop__name"><%- trans('Country') %></span>
        <span class="col-7 address-info__prop__value">
          USA
          <button
            class="address-info__prop__value__copy"
            data-clipboard-text="USA"
            data-alt-text="<%- trans('Скопировано') %>"
          ><%- trans('Скопировать страну') %></button>
        </span>
      </div>
    </div>
  </div>
</div>



<div class="dash-storage-select">
  <div class="container">

    <h3><%- trans('Выберите наиболее удобный для вас<br>пункт подбора ваших посылок') %></h3>

    <!-- %TODO AJAX -->
    <form class="row">
      <div class="col-4">

        <div class="dash-storage-item js-pop-checked__target js-pop-hover__target">
          <img src="<%- staticUrl('images/photo/storage-photo-1.jpg') %>"
            class="dash-storage-item__storage-photo">
          <label class="row-sub-4">
            <div class="col-2">
              <div class="radio radio--bigger">
                <input type="radio" name="tmp1" checked class="js-pop-checked">
                <div class="radio__ui"></div>
              </div>
              <h4 class="dash-storage-item__name">
                <%- trans('Иматра') %>
              </h4>
              <p class="dash-storage-item__address">
                <%- trans('Kultakuusenkuja 4<br>55610<br>Imatra') %>
              </p>
              <div class="dash-storage-item__distance">
                <span class="dash-storage-item__distance__distance">
                  <%- trans('1,5 км') %>
                </span>
                <span class="dash-storage-item__distance__time">
                  <%- trans('5 мин') %>
                </span>
              </div>
              <p class="dash-storage-item__border-descr">
                <strong><%- trans('Светогорск МАПП') %></strong><br>
                пункт пересечения<br>
                российской границы
              </p>
              <p class="dash-storage-item__map-link">
                <a href="#TODO"><%- trans('подробная карта проезда') %></a>
              </p>
            </div>
            <div class="col-2">
              <img class="dash-storage-item__map js-pop-hover" src="<%- staticUrl('images/illustrations/map-1.png') %>">
            </div>
          </label>
        </div>

      </div>
      <div class="col-1"></div>
      <div class="col-4">

        <div class="dash-storage-item js-pop-checked__target js-pop-hover__target">
          <img src="<%- staticUrl('images/photo/storage-photo-2.jpg') %>"
            class="dash-storage-item__storage-photo dash-storage-item__storage-photo--to-left">
          <label class="row-sub-4">
            <div class="col-2">
              <div class="radio radio--bigger">
                <input type="radio" name="tmp1" class="js-pop-checked">
                <div class="radio__ui"></div>
              </div>
              <h4 class="dash-storage-item__name">
                <%- trans('Лаппеенранта') %>
              </h4>
              <p class="dash-storage-item__address">
                <%- trans('Pelkolankatu 5<br>53420<br>Lappeenranta') %>
              </p>
              <div class="dash-storage-item__distance">
                <span class="dash-storage-item__distance__distance">
                  <%- trans('16 км') %>
                </span>
                <span class="dash-storage-item__distance__time">
                  <%- trans('15 мин') %>
                </span>
              </div>
              <p class="dash-storage-item__border-descr">
                <strong><%- trans('Брусничное МАПП') %></strong><br>
                пункт пересечения<br>
                российской границы
              </p>
              <p class="dash-storage-item__map-link">
                <a href="#TODO"><%- trans('подробная карта проезда') %></a>
              </p>
            </div>
            <div class="col-2">
              <img class="dash-storage-item__map js-pop-hover" src="<%- staticUrl('images/illustrations/map-2.png') %>">
            </div>
          </label>
        </div>

      </div>
    </form>

    <p class="dash-storage-select__bottom-note">
      <%- trans('Ваши адреса в Финляндии и США от выбранного пункта по-умолчанию не изменятся, но мы будем доставлять ваши посылки на этот пункт. Вы всегда сможете сменить пункт по-умолчанию в') %>
      <a href="#TODO"><%- trans('настройках') %></a>
      <%- trans('или выборочно переместить посылку.') %>
    </p>

  </div>
</div>


<div class="dash-instructions">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <p class="dash-instructions__intro">
          <%- trans('Теперь вы можете<br> заказывать товары<br>на личный адрес в Финляндии<br>в любых интернет магазинах') %>
        </p>
      </div>
      <div class="col-6">
        <p class="dash-instructions__title">
          <%- trans('При оформлении заказа обратите внимание на следующее:') %>
        </p>
        <div class="row-sub-6">
          <div class="col-3">
            <p class="dash-instructions__num">
              <big><%- trans('1') %></big>
              <%- trans('Некоторые магазины автоматически<br>предлагают оплатить финскую таможенную<br>пошлину — не делайте этого.<br>По ссылке вы найдете ') %><a href="#TODO"><%- trans('инструкцию') %></a><%- trans(',<br>как отказаться от оплаты пошлины<br>и сэкономить эти деньги.') %>
            </p>
          </div>
          <div class="col-3">
            <p class="dash-instructions__num">
              <big><%- trans('2') %></big>
              <%- trans('Заказывая товары из стран ЕС,<br>вы экономите дополнительные<br>10%, которые мы вернем вам<br>после того, как вы заберете<br>посылки!') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="dash-big-alert">
  <div class="container">
    <p>
      <%- trans('Cпасибо за регистрацию.<br>Вас уже ждет первая посылка от pochta.fi') %>
    </p>
  </div>
</div>




<div class="parcels-list parcels-list--action-needed js-parcels-wathc-scroll">

  <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
    <div class="parcels-list__head">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <h2><%- trans('Оформление данных посылок требует вашего участия') %></h2>
            <p class="parcels-list__head__sub-title">
              <%- trans('Это необходимо для оформления транзитных документов, чтобы мы как ваш таможенный агент могли забрать ваши посылки с финской таможни') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parcels-list__in-wrap">

<% include _inc/parcel-items/1.ejs %>
<% include _inc/parcel-items/2.ejs %>
  </div>
</div>




<div class="parcels-list parcels-list--ready js-parcels-wathc-scroll">

  <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
    <div class="parcels-list__head">
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h2><%- trans('Вы можете забрать эти посылки') %></h2>
          </div>
          <div class="col-2">
            <a href="#TODO" class="btn btn-block btn-trans"><%- trans('Оплатить всё — ') %>€ 9463</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parcels-list__in-wrap">

<% include _inc/parcel-items/3.ejs %>

<% include _inc/parcel-items/4.ejs %>

<% include _inc/parcel-items/5.ejs %>
  </div>
</div>






<div class="parcels-list parcels-list--picked-up js-parcels-wathc-scroll">

  <div class="parcels-list__head__wrap js-parcels-wathc-scroll__sticky">
    <div class="parcels-list__head">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <h2><%- trans('Посылки, которые вы уже забрали') %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parcels-list__in-wrap">

<% include _inc/parcel-items/6.ejs %>
  <% function pickedUpParcel() { %>
<% include _inc/parcel-items/7.ejs %>  <% } %>

  <!--
    Здесь первая с возвращенной пошлиной идет как дочерний элемент .parcels-list__expandable,
    а вторая и остальные как дочерние элементы .parcels-list__expandable__hidden
  -->
  <div class="js-expandable parcels-list__expandable">
    <% pickedUpParcel() %>
    <div class="js-expandable__hidden parcels-list__expandable__hidden">
      <% pickedUpParcel() %>
      <% pickedUpParcel() %>
    </div>
    <div class="js-expandable__overlay parcels-list__expandable__overlay"></div>
  </div>


  </div>
</div>




<% include _inc/proxy-person-modal %>


<% include _inc/footer %>

<% var LAYOUT_JS = function(buf) { %>
  <script type="text/javascript" src="<%- staticUrl('vendor-packages/zeroclipboard/ZeroClipboard.min.js') %>"></script>
<% } %>

<% include _inc/layout/outro %>
