<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>


<div class="issue-alert-block issue-alert-block--resolved">
  <div class="container">
    <div class="issue-alert-block__primary-text">
      <p><%- trans('Данная посылка не была доставлена, 21.10.2015 вам была начислена компенсация в размере € 450. Приносим свои извинения за доставленные неудобства.') %></p>
    </div>
    <div class="issue-alert-block__secondary-text">
      <p><%- trans('Телефон для справок 8 800 200 56 97.') %></p>
    </div>
  </div>
</div>


<% var EDITABLE_TITLE_OPT = {
  classSuffix: 'had-issue'
} %>
<% include _inc/parcel-page/editable-title %>


<% var PARCEL_INFO_OPT = {
  paymentBtnContent: function(buf) { %>
    <span class="parcel-info__controls-spacing"></span>
    <div class="popover__target js-popover-target">
      <span class="btn btn-block btn-orange btn-disabled"><%- trans('Оплатить ') %>€ 55</span>
      <div class="popover popover--target-width js-popover">
        <div class="popover__content">
          <%- trans('Вы не можете оплатить пошлину и наш сбор пока не заполите перечень товаров в вашей посылке') %>
        </div>
      </div>
    </div>
  <% },
  predisabled: true
} %>
<% include _inc/parcel-page/parcel-info %>


<% var DECLARATION_OPT = {
  predisabled: true
} %>
<% include _inc/parcel-page/declaration %>


<% include _inc/parcel-page/full-info %>




<% include _inc/footer %>

<% var LAYOUT_JS = function(buf) { %>
  <link rel="stylesheet" type="text/css" href="<%- staticUrl('vendor-packages/lightbox/css/lightbox.css') %>">
  <script type="text/javascript" src="<%- staticUrl('vendor-packages/lightbox/js/lightbox.min.js') %>"></script>
<% } %>

<% include _inc/layout/outro %>
