<% include _inc/layout/intro %>

<% include _inc/headers/empty %>

<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-5">
        <h3><%- trans('Новый пароль') %></h3>
        <form class="default-form" action="restore-pass--success.html">
          <div class="form-group">
            <input type="password" class="text-input js-fix-ph" placeholder="<%- trans('Введите новый пароль') %>">
          </div>
          <div class="form-group has-error">
            <p class="form-field-error">
              <%- trans('Пароли не совпадают, пожалуйста, введите пароль еще раз.') %>
            </p>
            <input type="password" class="text-input js-fix-ph" placeholder="<%- trans('Введите пароль повторно') %>">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-orange"><%- trans('Отправить') %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% include _inc/footer %>

<% include _inc/layout/outro %>
