<% include _inc/layout/intro %>

<% include _inc/headers/landing %>



  <div class="storage-full-info">
    <div class="container">
      <div class="row">
        <div class="col-3">

          <h1><%- trans('Лаппеенранта') %></h1>

          <p class="storage-full-info__address">
            <%- trans('Pelkolankatu 5<br>53420') %>
          </p>

          <div class="storage-full-info__distance">
            <div class="storage-full-info__distance__item">
              <strong><%- trans('Lappeenranta') %></strong>
              <small><%- trans('Finland') %></small>
            </div>
            <div class="storage-full-info__distance__item">
              <strong><%- trans('Брусничное МАПП') %></strong>
              <small><%- trans('Россия') %></small>
            </div>
          </div>

          <div class="storage-full-info__distance2">
            <div class="storage-full-info__distance2__item">
              <img src="<%- staticUrl('images/icons/car.svg') %>">
              <%- trans('<strong>15</strong> км') %>
            </div>
            <div class="storage-full-info__distance2__item">
              <img src="<%- staticUrl('images/icons/time-longer.svg') %>">
              <%- trans('<strong>15</strong> км') %>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="take-left-gap">

            <img class="storage-full-info__photo"
              src="<%- staticUrl('images/photo/storage-photo-3.jpg') %>">

          </div>
        </div>
      </div>

      <div class="storage-full-info__bottom">
        <div class="row">
          <div class="col-3">
            <div class="storage-full-info__map-wrap">
              <img src="<%- staticUrl('images/illustrations/map-2.png') %>">
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-5">
            <p><%- trans('Город расположен на&nbsp;реке Вуокса, в&nbsp;северной части Карельского перешейка, около границы с&nbsp;Россией, в&nbsp;210&nbsp;км от&nbsp;Санкт-Петербурга. Ближайший российский город — Светогорск (7&nbsp;км).') %></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="storage-google-map">
    <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Lappeenranta,%2C%20Finland&amp;key=AIzaSyDJZ1IxpGOsI7UcaqMixGChERGUYYwK_lo"></iframe>
  </div>





<% include _inc/footer %>

<% include _inc/layout/outro %>
