.header
  clearfix()
  background #ff592e
  color #ffffff
  position relative
  &__left
    float left
    &:before
      content ''
      position absolute
      left 0
      top 0
      bottom 0
      width px2em(25)
      background #0000ff
  &__right
    float right
  &__logo, &__slogan
    display inline-block
    vertical-align top
    height px2em(82)
  &__logo
    padding-top px2em(25)
    margin-right px2em(34)
    position relative
    img
      width px2em(154)
      height auto
  &__slogan
    setFont(14, 17, 700)
    padding-top px2em(24,14)
  &__btn
    setFont(17, 17, 700)
    display block
    border solid 2px #ffffff
    padding px2em(8,17) px2em(16,17)
    margin-top px2em(22,17)
    background none


.header-menu, .header-lang
  display inline-block
  margin-left px2em(24)
  li
    display inline-block
    a, span
      setFont(20, 82, 600)
      display block

.header-menu
  a
    padding 0 px2em(28,20)
    &:hover
      opacity .9

.header-lang
  a, span
    padding 0 px2em(13,20)
  span
    background #ffffff
    color #ff592e

