.modal
  display none
  overflow hidden
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1050
  -webkit-overflow-scrolling touch
  outline 0
  &-top-header
    background #000000
    color #ffffff
    position absolute
    top 0
    left 0
    right 0
    .container
      position relative
    &-logo, &-slogan
      display inline-block
      vertical-align top
      height px2em(82)
    &-logo
      padding-top px2em(25)
      margin-right px2em(34)
      img
        width px2em(154)
        height auto
    &-slogan
      setFont(14, 17, 700)
      padding-top px2em(24,14)
    &-logo
      padding-top px2em(25)
      img
        width px2em(154)
        height auto
    &-close
      position absolute
      top 0
      right 0
      bottom 0
      width px2em(38)
      border none
      background url(../images/icons/close-big.svg) no-repeat 100% 50%
      overflow hidden
      background-size contain
      &:before
        content ''
        display block
        height 120%
  &-open
    overflow hidden
  &.fade &-dialog
    transform translate3d(0, -25%, 0)
    transition transform 0.3s ease-out
  &.in &-dialog
    transform translate3d(0, 0, 0)
  &-open &
    overflow-x hidden
    overflow-y auto
  &-dialog
    position relative
    width px2em(550)
    margin px2em(82) auto px2em(20)
  &-content
    position relative
    background-color #ffffff
    outline 0
  &-backdrop
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 1040
    background-color #000034
    opacity 0
  &-backdrop.in
    opacity 0.9
  &-scrollbar-measure
    position absolute
    top -9999px
    width px2em(50)
    height px2em(50)
    overflow scroll



.auth-modal
  background #ffffff
  padding px2em(50) px2em(75)
  h3
    setFont(30, 36, 600)
    margin-bottom px2em(50,30)
  .form-group
    overflow hidden
    margin-bottom px2em(40)
  .text-input
    setFont(24, 28)
    padding px2em(2,24) 0
    margin-bottom px2em(12,24)
  &__save
    margin-bottom px2em(16)
  &__alt-action
    .large-form + &
      margin-top px2em(-10)
    a, button
      setFont(14, 20)
      color #464547
      text-decoration none
      background none
      display inline-block
      border none
      margin 0
      padding 0
      border-bottom solid 1px @color
      @extend .border-link
  .oauth
    margin-top px2em(35)
    margin-bottom px2em(17)
    p
      setFont(14, 15)
      margin-bottom px2em(14,14)




.ppf
  &__top
    background #f1f1ef
    padding px2em(40) px2em(75)
    h3
      setFont(24, 28, 600)
      margin-bottom px2em(30)
  &__menu
    li
      clearfix()
      padding px2em(10) 0
    &__controls
      float right
      &__edit,
      &__remove
        display inline-block
        width px2em(25)
        height @width
        background none
        border none
        background-repeat no-repeat
        background-position 50% 50%
        vertical-align top
        margin-top px2em(-3)
      &__edit
        background-image url(../images/icons/circle-edit.svg)
      &__remove
        background-image url(../images/icons/delete.svg)

    &__name
      setFont(20, 24, 200)
  &__bottom
    padding px2em(50) px2em(75)
    h3
      setFont(30, 36, 600)
      margin-bottom px2em(50)
  &__field
    overflow hidden
    margin-bottom px2em(40)
    input
      setFont(24, 28)
      padding px2em(2) 0
      margin-bottom px2em(12)
    &__help
      setFont(12, 14, 400, 23)
      color #969495
      text-transform uppercase
      display block
  &__save
    margin-bottom px2em(25)

