<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-6">
        <div class="succes-message">
          <img src="<?php echo $this->getSkinUrl('images/illustrations/success-common.svg') ?>">
          <h3><?php echo $this->__('Ваш пароль успешно изменен!') ?></h3>
          <p class="single-form-page__text">
            <?php echo $this->__('Пожалуйста, перейдите <br/>в <a href="%s">личный кабинет</a> для входа в сервис.', '/customer/account/login/') ?>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>